<!-- Start Heading -->

<div class="row text-center team"><img src="css/images/assets_icon.png" class="img-responsive">
  <h1><span class="borderBottom">OUR ASSETS</span></h1>
</div>
<div class="container container_services">
  <div class="row">
    
  </div>
  <div class="row assetsrow">
    <div class="">
      <div class="col-xs-6 col-sm-4 col-lg-2 asset_c"><a href="http://innovate.us.oracle.com/sb/" target="_blank"><img src="css/images/tech-asset-bank-icon.png" ></a><br>
        <br>
        Solution Bank</div>
      <div class="col-xs-6 col-sm-4 col-lg-2 asset_c"><a href="http://innovate.us.oracle.com/cloudaccelerate/" target="_blank"><img src="css/images/cloud-accelerate-icon.png"></a><br>
        <br>
        Cloud
        Accelerate</div>
      <div class="col-xs-6 col-sm-4 col-lg-2 asset_c"><a href="http://innovate.us.oracle.com/ecal/" target="_blank"><img src="css/images/ecal-icon-modi-large.png"></a><br>
        <br>
        ECAL</div>
      <div class="col-xs-6 col-sm-4 col-lg-2 asset_c"><a href="http://innovate.us.oracle.com/CloudGPS" target="_blank"><img src="css/images/gps.png"></a><br>
        <br>
        Cloud GPS</div>
        <div class="col-xs-6 col-sm-4 col-lg-2 asset_c"><a href="http://innovate.us.oracle.com/cloudaccelerate/digital.html" target="_blank"><img src="css/images/digital-accelerate-icon-green.png"></a><br>
        <br>
        Digital Accelerate</div>
        <div class="col-xs-6 col-sm-4 col-lg-2 asset_c"><a href="http://launch.oracle.com/?opcworkshops" target="_blank"><img src="css/images/OPC-workshop-icon.png"></a><br>
        <br>
        OPC Workshops</div>
    </div>
  </div>
 

</div>
