<!-- Start Heading -->

<div class="row text-center team"><img src="css/images/assets_icon.png" class="img-responsive">
  <h1><span class="borderBottom">OUR ASSETS</span></h1>
</div>
<div class="container container_services">
<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Key Assets</h2>
  </div>
</div>
<div class="row assetsrow">
  <div class="row-centered">
    <div class="col-sm-4"><a href="http://innovate.us.oracle.com/tab_website" target="_blank"><img src="css/images/tech-asset-bank-icon.png" ></a><br>
      <br>
      Technology <br>
      Asset Bank</div>
    <div class="col-sm-4"><a href="http://nas.us.oracle.com/" target="_blank"><img src="css/images/knowledge-bank-icon.png"></a><br>
      <br>
      Knowledge<br>
      Bank</div>
    <div class="col-sm-4"><a href="http://nas.us.oracle.com/sites/ac/home.html" target="_blank"><img src="css/images/image-bank-icon.png"></a><br>
      <br>
      Image Bank</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Cloud Accelerate Assets</h2>
  </div>
</div>
<div class="row assetsrow">
  <div class="row-centered">
    <div class="col-sm-4"><a href="http://innovate.us.oracle.com/cloudaccelerate/" target="_blank"><img src="css/images/cloud-accelerate-icon.png"></a><br>
      <br>
      Cloud<br>
      Accelerate</div>
    <div class="col-sm-4"><a href="https://apex.oraclecorp.com/pls/apex/f?p=16736" target="_blank"><img src="css/images/ivm-icon.png"></a><br>
      <br>
      Ideation Value<br>
      Mapper</div>
    <div class="col-sm-4"><a href="https://apex.oraclecorp.com/pls/apex/f?p=24631" target="_blank"><img src="css/images/Opportunity-Sketch-Tool-icon.png"></a><br>
      <br>
      Opportunity <br>
      Sketch Tool</div>
  </div>
  </div> 
  
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Other Assets</h2>
    </div>
  </div>
 
  <div class="row assetsrow">
   <div class="row-centered">
    
    <div class="col-sm-4"><a href="http://innovate.us.oracle.com/ecal/" target="_blank"><img src="css/images/ecal-icon.png"></a><br>
      <br>
      ECAL</div>
    <div class="col-sm-4"><a href="http://digital-se.us.oracle.com/" target="_blank"><img src="css/images/digital-se.png"></a><br>
      <br>
      Digital SE</div>
    <div class="col-sm-4"><a href="http://innovate.us.oracle.com/CloudGPS" target="_blank"><img src="css/images/gps.png"></a><br>
      <br>
      Cloud GPS</div>
   
  </div>
</div>
</div>
