<!-- Start Heading -->

<div class="row text-center team"><img src="css/images/OCIC_Technology_IT_wht.png" class="img-responsive">
  <h1><span class="borderBottom">OUR SERVICES</span></h1>
</div>
<!-- End Heading -->
<div class="container">
  <div class="container container_services"> 
    <!-- NATD Solution Engineering Service Catalog -->
    <div class="col-lg-12 nopadding servicessection">
      <div class="row">
        <div class="col-sm-10 col-lg-10">
          <div class="col-sm-10 nopadding pull-right">
            <div class="servicestitle">NATD Solution Engineering Service Catalog</div>
            <div class="servicestitle2">Cloud Execution Framework Services</div>
          </div>
        </div>
        <div class="col-sm-2 pull-right servicesgrey">
          <p  align="center"><img src="css/images/tick_small.png"> </p>
          <p>Pilot SE Service where Platform Specialists and/or Hub SEs are engaged.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-12 servicesicons">
          <div class="col-xs-6 col-sm-3"><img src="css/images/awareness.png" style="vertical-align:middle">&nbsp;&nbsp;Awareness</div>
          <div class="col-xs-6 col-sm-3"><img src="css/images/demand_icon.png" style="vertical-align:middle">&nbsp;&nbsp;Demand</div>
          <div class="col-xs-6 col-sm-3"><img src="css/images/opportunity.png" style="vertical-align:middle">&nbsp;&nbsp;Opportunity</div>
          <div class="col-xs-6 col-sm-3"><img src="css/images/success_icon.png" style="vertical-align:middle">&nbsp;&nbsp;Success</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 nopadding servicesblocks1">
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog"><img src="css/images/catalog_icon.png"><br>
              <br>
              Deliver a Cloud Day</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="largetick"><img src="css/images/tick_large1.png"></div>
            <div class="centerelement pointer" data-bind="click:opendialog2"><img src="css/images/cloud_icon2.png"><br>
              <br>
              Develop a Cloud Vision</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="largetick"><img src="css/images/tick_large1.png"></div>
            <div class="centerelement pointer" data-bind="click:opendialog3"><img src="css/images/cloud_solutionicon3.png"><br>
              <br>
              Design a Cloud Solution </div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog4"><img src="css/images/adopt_icon4.png"><br>
              <br>
              Adopt a Cloud Solution</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog5"><img src="css/images/event.png"><br>
              <br>
              Support a Marketing Event</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog6"><img src="css/images/mobile_cloud.png"><br>
              <br>
              Develop a Value Hypothesis</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="largetick"><img src="css/images/tick_large1.png"></div>
            <div class="centerelement pointer" data-bind="click:opendialog7"><img src="css/images/poc.png"><br>
              <br>
              Build a POC</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog8"><img src="css/images/support_onboarding_icon.png"><br>
              <br>
              Deliver a Support Onboarding</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog9"><img src="css/images/exec.png"><br>
              <br>
              Build an Executive Briefing</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog10"><img src="css/images/proposal.png"><br>
              <br>
              Create a Packaged Proposal</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog11"><img src="css/images/business_case.png"><br>
              <br>
              Build a Business Case</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement pointer" data-bind="click:opendialog12"><img src="css/images/deliver.png"><br>
              <br>
              Deliver a Health Check</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 nopadding servicesblocks2">
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement ">Account Planning</div>
        </div>
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement ">Opportunity Planning</div>
        </div>
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement ">Sales to Success Planning</div>
        </div>
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement ">Renewal Planning</div>
        </div>
      </div>
    </div>
    <!-- NATD Solution Engineering Service Catalog --> 
    
    <!-- Foundational SE Service -->
    <div class="row">
      <div class="col-xs-12 nopadding seservice">
        <div class="row">
          <div class="col-xs-12">
            <h4 align="center">Foundational SE Service</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog13"><img src="css/images/tick_med.png"><br>
              <br>
              Customer
              Discovery</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog14"><img src="css/images/tick_med.png"><br>
              <br>
              Platform
              Assessments</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog15"><img src="css/images/tick_med.png"><br>
              <br>
              Hands-on
              Workshops </div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog16"><img src="css/images/tick_med.png"><br>
              <br>
              Customer
              Demos</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog17"><img src="css/images/tick_med.png"><br>
              <br>
              RFx
              Response Support</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog18"><img src="css/images/tick_med.png"><br>
              <br>
              Sizing,
              Quoting & Config Support</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement pointer" data-bind="click:opendialog19">Project Management Support</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock greybg">
            <div class="centerelement pointer" data-bind="click:opendialog20">Reusable
              Asset
              Harvesting</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row colorsspecs">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="col-sm-4"></div>
        <div class="col-xs-6 col-sm-4 nopadding text-right"><i class="fa fa-square ca" aria-hidden="true"></i>&nbsp;&nbsp;Customer Activity</div>
        <div class="col-xs-6  col-sm-4 nopadding text-right "><i class="fa fa-square ia" aria-hidden="true"></i>&nbsp;&nbsp;Internal Activity</div>
      </div>
    </div>
    <div class="row founddesc">
      <div class="col-sm-3 nopadding"><img src="css/images/seservce_img.jpg" class="img-responsive"></div>
      <div class="col-sm-9 founddescright">
        <p>In general, to engage our Hub SEs, Sales Reps should make SE service and resource requests through SCRM.  See the request process below for LOB details and exceptions.  Note that CPRs should make requests via their ECA contacts. </p>
        <p>All NATD SEs (i.e. ECAs, CSMs, Business Value Consultants, Industry Advisors, Platform Specialists and Hub SEs) are assigned to SE Services according to their role and skills. In particular, Platform Specialists and/or Hub SEs are assigned to services based on several criteria, starting with their skillset and specialty technology pillars.  In general, Platform Specialists are assigned when on-site customer contact is needed.  Hub SE resources are assigned based on workload and scaling needs, time constraints (e.g. need for 24x7 development) and special restrictions such as the need for US-only based resources. </p>
      </div>
    </div>
    <!-- Foundational SE Service -->
    <div class="row howengaged">
      <div class="col-sm-10 col-lg-10">
        <div class="col-sm-10 nopadding pull-right">
          <div class="howengagedtitle">How do Cloud Solution Hub SEs get engaged?</div>
        </div>
      </div>
      <div class="col-xs-12 nopadding">
        <div class="row"><img src="css/images/service-diagram.png" class="img-responsive"></div>
      </div>
    </div>
  </div>
  <!--  Description -->
  <div class="row servicesdesc">
    <div class="col-lg-12 nopadding">Hub-based Solution Engineers (SEs) are engaged through our NATD SE Services, which are delivered via an SE-as-a-Service model using our Service Catalog.  This catalog supports major customer and internal activities performed throughout the entire Oracle Sales lifecycle via our Cloud Execution Framework as well as supporting underlying foundational SE services.</div>
    <div class="col-lg-10 nopadding">
      <div class="col-sm-6 col-lg-3 sliderButtons"> <a class="watchvdo" href="css/pdf/SEaaS-Service-Catalog-08072107.pptx" target="_blank">DOWNLOAD PPT<i class="fa fa-download pull-right" aria-hidden="true"></i></a></div>
    </div>
  </div>
  
  <!--Description --> 
</div>
<!--Popups1 -->
<div style="display:none" id="modalDialog1" title="Deliver a Cloud Day
"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Deliver a Cloud Day </h3>
    <span class="smalltext">Category: Foundational SE Services </span> </div>
  <div class="popupbody oj-dialog-body">
    <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Participate in an <u>Oracle cloud day</u> where pre-scheduled events provide a forum and community to learn and engage on the value of Oracle Cloud technology and services.  When ready engage your customer by preparing and conducting a <u>Customer Cloud Day</u> to focus on the Customer’s and Oracle’s Cloud strategy together.</li>
    </ul>
    <h4 style="color:#00758f;" >SE Role Engagement </h4>
    Roles:
    <ul>
      <li>ECAs lead this engagement and are responsible for the majority of the deliverables. </li>
      <li>Platform Specialists and Hub SEs work on delivering a cloud day </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups2 -->
<div style="display:none" id="modalDialog2" title="Develop a Cloud Day"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Develop a Cloud Vision </h3>
    <span class="smalltext">Category: Demand Generation  </span> </div>
  <div class="popupbody oj-dialog-body">
    <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Participate in an Oracle cloud day where pre-scheduled events provide a forum and community to learn and engage on the value of Oracle Cloud technology and services.  When ready engage your customer by preparing and conducting a Customer Cloud Day to focus on the Customer’s and Oracle’s Cloud strategy together.</li>
    </ul>
    <h4 style="color:#00758f;" >SE Role Engagement </h4>
    Roles:
    <ul>
      <li>ECAs lead this engagement and are responsible for the majority of the deliverables. </li>
      <li>Platform Specialists and Hub SEs work on delivering a cloud day </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups3 -->
<div style="display:none" id="modalDialog3" title="Develop a Cloud Day"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Design a cloud Solution </h3>
    <span class="smalltext">Category: Oppurtunity Execution  </span> </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;"> Description </h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Collaboratively working with a customer to turn their Cloud Vision into a robust Solution Presentation and Oracle Sales Proposal.  
</li>
      <li> Producing a sales proposal, including developing logical and physical architectures, sizing current and future workloads, recommending phased implementation roadmaps, creating the intake provisioning document, solution presentation, and contributing to the Oracle Sales Proposal.  
</li>
      <li> This service typically uses <a href="http://innovate.us.oracle.com/ecal/" target="_blank">ECAL</a> Stages 2-4 as the underlying execution framework.
</li>
    </ul>
    
    <h4 style="color:#00758f;"> SE Role Engagement </h4>
    Roles
    <ul>
      <li> ECAs lead this engagement and are responsible for the majority of the deliverables.  
</li>
      <li> Platform Specialists and Hub SEs work on Portfolio and Workload Analysis efforts, contribute to the physical architecture designs, and provide foundation services as needed (e.g. Customer Discovery of current state IT Portfolio, Customer Demos, Sizing/Quoting/Config).  
</li>
<li>This service may spawn the <a href="#" data-bind="click:opendialog7">“Build a POC”</a> service.  
</li>
<li>Business Value Consultants support any value-based activities and deliverables, which can also fall under the “Build a Business Case” service.  
</li>
<li>CSMs are responsible for ECAL Migration and Adoption Planning activities and deliverables, and the subsequent “Adopt a Cloud Solution” service.  
</li>
<li>For more information, see our <a href="http://innovate.us.oracle.com/ecal/" target="_blank">ECAL</a> website.
</li>
    </ul>
    
    <h4 style="color:#00758f;"> How do you request this service?</h4>
    <p> Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017.</p>
  </div>
</div>
<!--Popups4 -->
<div style="display:none" id="modalDialog4" title="Develop a Cloud Day"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Adopt a Cloud Solution </h3>
      <span class="smalltext">Category: Foundational SE Services </span> </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Develop and integrate customer adoption into your customer  engagement.  Newly acquired services require adoption planning, onboarding, migration and governance.
</li>
     
     
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>Customer Success Manager
</li>
      
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>ECA request to CSM Management to assign and engage success services
 </p>
  </div>
</div>
<!--Popups5 -->
<div style="display:none" id="modalDialog5" title="Develop a Cloud Day"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Support a Marketing Event </h3>
      <span class="smalltext">Category: </span> </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <br>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <br>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups6 -->
<div style="display:none" id="modalDialog6" title="Develop a Cloud Day"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Develop a Value Hypothesis </h3>
      <span class="smalltext">Category: Foundational SE Services </span> </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Create a knowledgeable viewpoint on  how the customer would benefit from using Oracle Public Cloud.  This services provides you the account team with a strategy and outline of how to engage the customer and drive cloud adoption. </li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>ECAs and/or Industry Advisors typically lead this engagement with direct support from Platform </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
  " target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups7 -->
<div style="display:none" id="modalDialog7" title="Build a POC"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
    <h3>Build a POC </h3>
      <span class="smalltext">Category: Opportunity Execution </span>  </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Collaboratively working with a customer to develop a sample solution to demonstrate how an Oracle solution can help them achieve their stated goals. </li>
      <li>A Proof of Concept to prove out Oracle Cloud technology capabilities and/or to storyboard customer use cases and customer/industry cloud solutions using Oracle Cloud implementations (e.g. some deployed Oracle Cloud Services with demo/customer data, integrations, and custom code). </li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>One Platform Specialist team will lead this effort and will be supported by a combination of Platform Specialists and Hub SEs. </li>
      <li>US and India Hub SEs may be paired for 24x7 delivery.</li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
    " target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups8 -->
<div style="display:none" id="modalDialog8" title="Deliver a Support Onboarding"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Deliver a Support Onboarding </h3>
      <span class="smalltext">Category: Foundational SE Services </span> </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Onboarding plan development Utilization Workshops </li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>Customer Success Manager. </li>
    </ul>
    <h4 style="color:#00758f;"> How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
    " target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups9 -->
<div style="display:none" id="modalDialog9" title="Build an Executive Briefing"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Build an Executive Briefing </h3>
      <span class="smalltext">Category: Foundational SE Services </span> </div>
  <div class="popupbody oj-dialog-body">
    <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>NATD SE Industry Architect to brief your customer or set of customers on Cloud impact to the business and the opportunities available that can transform the industry.</li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>Industry Advisors typically lead this engagement with direct support from Platform </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
     " target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups10 -->
<div style="display:none" id="modalDialog10" title="Create a Packaged Proposal"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Create a Packaged Proposal </h3>
      <span class="smalltext">Category: Foundational SE Services </span>  </div>
  <div class="popupbody oj-dialog-body">
    <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Quickly prepare and present a customized executive-facing overview regarding Oracle Cloud to your customer, focused on some of our top sales plays.  It is a vehicle that will enable you to highlight Oracle's Cloud strengths, present a compelling pricing picture, and help open the door for further customer data gathering so a final Oracle Cloud proposal and ordering document can be completed.</li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>ECAs and/or Industry Advisors typically lead this engagement with direct support from Platform </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
    " target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
      Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>
<!--Popups11 -->
<div style="display:none" id="modalDialog11" title="Build a Business Case"  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Build a Business Case </h3>
      <span class="smalltext">Category: Foundational SE Services </span>  </div>
  <div class="popupbody oj-dialog-body">
   <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Develop an approach and outcome for creating a Business value case design and delivery </li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>BVC (business Value Consultant) </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>Initially this request will be initiated by CRP/ECA/CSM to PS Manager/Director
</p>
  </div>
</div>
<!--Popups12 -->
<div style="display:none" id="modalDialog12" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Deliver a Health Check </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
    <h4 style="color:#00758f;">Description</h4>
    This Solution-Engineering-as-a-Service includes:
    <ul>
      <li>Provide Health Check for service provided Health Checks </li>
    </ul>
    <h4 style="color:#00758f;">SE Role Engagement </h4>
    Roles
    <ul>
      <li>Customer Success Manager </li>
    </ul>
    <h4 style="color:#00758f;">How do you request this service? </h4>
    <p>ECA request to CSM Management to assign and engage success services
 </p>
  </div>
</div>
<!--Popups13 --> 

<div style="display:none" id="modalDialog13" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Customer Discovery </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
    <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Collaboratively working with a customer to analyze specific business/technical use cases and associated opportunities and challenges. </li>
                        <li>This process is highly consultative, focusing on the customer’s business/technical goals as well as existing processes, technologies, systems, personnel and business environment. </li>
                        <li>This builds valuable customer trust, but also uniquely positions Oracle to business-justify and cost-justify immediate implementation of a solution &ndash; specifically immediate implementation of an Oracle Cloud solution. </li>
                        <li>Deliverables include a presentation outlining use cases, goals, challenges, prescription analyses and benefits.  Deliverables also include a solution roadmap and Oracle sales proposal.</li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>ECAs lead initial steps in this engagement and are responsible for the majority of the early deliverables. </li>
                        <li>Platform Specialists from the GEO Field support all phases closely, coordinating customer events and providing seamless handoff to solution and proposal. </li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
                        Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>

<!--Popups14 --> 


<div style="display:none" id="modalDialog14" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Platform Assessments </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
    <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Working with a customer to analyze their current-state platform/system topology and environment.</li>
                        <li>Identify challenges and problems and associated impacts/costs. </li>
                        <li>Identify low-hanging-fruit opportunities for improvement as well as a full, future-state vision to address all platform needs. </li>
                        <li>Define benefits, and provide cost justifications for short and long-term solutions. </li>
                        <li>Provide a complete roadmap for platform rationalization. </li>
                        <li>Perform all work required to produce the sales proposal, including physical architectures, sizing for current and future workloads, and phased implementation recommendations.</li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>Platform specialists from the GEO Field will lead these engagements working in conjunction with ECAs. </li>
                        <li>Platform specialists will focus on specific sizing and implementation issues, supported where appropriate by Hub SEs. </li>
                        <li>ECAs will focus on overall architectural design.</li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
                        Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>

<!--Popups15 --> 


<div style="display:none" id="modalDialog15" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Hands-on Workshops </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
    <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Providing a technical hands-on experience to a customer’s technical personnel on a single or set of cloud services. </li>
                        <li>Providing an intimate understanding of how the services work and what would be required to deploy and utilize them. </li>
                        <li>Generating a vision of how the services would enable the customer to attain their specific business/technical goals. </li>
                        <li>Hands-on Workshops may provide a less resource-intensive (but effective) alternative to POCs.</li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>Platform specialists from the GEO Field, at times working in conjunction with SE workshop developers and Hub SEs. </li>
                        <li>Engagements will be at customer locations or Oracle locations or at time via remote delivery.</li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
                        Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>

<!--Popups16 --> 


<div style="display:none" id="modalDialog16" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Customer Demos </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
    <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Demonstrating a cloud service or services to customer personnel.  The demonstration may depict business functionality and target LOB personnel as well as customer technical personnel. </li>
                        <li>Alternatively, the demonstration may be appropriate for customer technical personnel only. </li>
                        <li>The goal in all cases is to showcase how Oracle Cloud Services can address specific business/technical needs.</li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      <p>Platform specialists from the GEO Field, at times working in conjunction with SE business or technical specialists and Hub SEs.  Engagements will be at customer locations or Oracle locations or at time via remote delivery.</p>
                      <h4>How do you request this service? </h4>
                      <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
                        Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>

<!--Popups17 --> 


<div style="display:none" id="modalDialog17" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>RFx Response Support</h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
       <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Collaborating with the sales rep to produce a highly effective RFx response for their customer. </li>
                        <li>Engaging as early as possible to maximize response effectiveness, ideally while the customer is still developing the RFx in order to materially influence RFx content. </li>
                        <li>Producing responses that not only address the customer’s requests, but also differentiate Oracle from its competitors in terms of capabilities to solve customer business/technical needs.</li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>ECAs and/or Industry Advisors typically lead this engagement with direct support from Platform Specialists from the GEO Field working with Hub SEs.</li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
                        Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>

<!--Popups18 --> 


<div style="display:none" id="modalDialog18" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Sizing, Quoting and Configuration Support </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
       <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Working with the sales rep and their customer to produce accurate and professional sales proposals that reflect customer sizing needs and services requirements. </li>
                        <li>Performing thorough sizing analyses against current and anticipated customer workloads. </li>
                        <li>Evaluating all functional requirements present and future. </li>
                        <li>Defining services as well as implementation requirements.</li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>Platform specialists from the GEO Field, at times working in conjunction with ECAs and Hub SEs. </li>
                        <li>Engagements will include on-site customer meetings. </li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>Initially this request will be initiated by ECA via <a href="https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824
" target="_blank">https://apex.oraclecorp.com/pls/apex/f?p=21625:1:100420461220824</a><br>
                        Service based model in SCRM is target to be enabled on 12/1/2017. </p>
  </div>
</div>

<!--Popups19 --> 


<div style="display:none" id="modalDialog19" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Project  Management Support  </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
       <h4>Description</h4>
                      This Solution-Engineering-as-a-Service includes:
                      <ul>
                        <li>Provide project management support and guidelines </li>
                      </ul>
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>Customer Success Manager </li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>TBD </p>
  </div>
</div>

<!--Popups20 --> 


<div style="display:none" id="modalDialog20" title="Deliver a Health Check "  data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
  <div class="closebar oj-dialog-header oj-helper-clearfix ui-draggable-handle"> </div>
  <div class="popupheading">
     <h3>Reusable Asset Harvesting </h3>
      <span class="smalltext">Category: Foundational SE Services </span></div>
  <div class="popupbody oj-dialog-body">
      <h4>Description</h4>
                      Harvesting on-field assets to re-use for other similar engagements
                      <h4>SE Role Engagement </h4>
                      Roles
                      <ul>
                        <li>ECAs and/or Industry Advisor </li>
                        <li>Customer Success Manager </li>
                        <li>Platform/Hub Solution Engineers </li>
                        <li>Business Value Consultant </li>
                      </ul>
                      <h4>How do you request this service? </h4>
                      <p>Asset repository will be published to share successful content at <a href="http://solutionengineering.us.oracle.com">http://solutionengineering.us.oracle.com</a> website. </p>
  </div>
</div>