<!-- Start Heading -->

<div class="row text-center team"><img src="css/images/OCIC_Technology_IT_wht.png" class="img-responsive">
  <h1><span class="borderBottom">OUR SERVICES</span></h1>
</div>
<!-- End Heading -->
<div class="container"> 
  <!--  Description -->
  <div class="row servicesdesc">
    <div class="col-lg-12 nopadding">Hub-based Solution Engineers (SEs) are engaged through our NATD SE Services, which are delivered via an SE-as-a-Service model using our Service Catalog.  This catalog supports major customer and internal activities performed throughout the entire Oracle Sales lifecycle via our Cloud Execution Framework as well as supporting underlying foundational SE services.</div>
    <div class="col-lg-10 nopadding">
      <div class="col-sm-6 col-lg-3 sliderButtons nopaddingleftmd"><a class="watchvdo" href="https://otube.oracle.com/media/Austin+Cloud+Hub+Overview/0_2a91toco/-1" target="_blank">WATCH VIDEO<i class="fa fa-play-circle pull-right" aria-hidden="true"></i></a></div>
      <div class="col-sm-6 col-lg-3 sliderButtons"> <a class="watchvdo" href="css/pdf/blank.pdf" target="_blank">DOWNLOAD PPT<i class="fa fa-download pull-right" aria-hidden="true"></i></a></div>
    </div>
  </div>
  
  <!--Description -->
  
  <div class="container container_services"> 
    <!-- NATD Solution Engineering Service Catalog -->
    <div class="col-lg-12 nopadding servicessection">
      <div class="row">
        <div class="col-sm-10 col-lg-10">
          <div class="col-sm-10 nopadding pull-right">
            <div class="servicestitle">NATD Solution Engineering Service Catalog</div>
            <div class="servicestitle2">Cloud Execution Framework Services</div>
          </div>
        </div>
        <div class="col-sm-2 pull-right servicesgrey">
          <p  align="center"><img src="css/images/tick_small.png"> </p>
          <p>Pilot SE Service where Platform Specialists and/or Hub SEs are engaged.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-12 servicesicons">
          <div class="col-xs-6 col-sm-3"><img src="css/images/awareness.png" style="vertical-align:middle">&nbsp;&nbsp;Awareness</div>
          <div class="col-xs-6 col-sm-3"><img src="css/images/demand_icon.png" style="vertical-align:middle">&nbsp;&nbsp;Demand</div>
          <div class="col-xs-6 col-sm-3"><img src="css/images/opportunity.png" style="vertical-align:middle">&nbsp;&nbsp;Opportunity</div>
          <div class="col-xs-6 col-sm-3"><img src="css/images/success_icon.png" style="vertical-align:middle">&nbsp;&nbsp;Success</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 nopadding servicesblocks1">
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/catalog_icon.png"><br>
              <br>
              Deliver a Cloud Day</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="largetick"><img src="css/images/tick_large1.png"></div>
            <div class="centerelement"><img src="css/images/cloud_icon2.png"><br>
              <br>
              Develop a Cloud Vision</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="largetick"><img src="css/images/tick_large1.png"></div>
            <div class="centerelement"><img src="css/images/cloud_solutionicon3.png"><br>
              <br>
              Design a Cloud Solution </div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/adopt_icon4.png"><br>
              <br>
              Adopt a Cloud Solution</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/event.png"><br>
              <br>
              Support a Marketing Event</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/mobile_cloud.png"><br>
              <br>
              Develop a Value Hypothesis</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="largetick"><img src="css/images/tick_large1.png"></div>
            <div class="centerelement"><img src="css/images/poc.png"><br>
              <br>
              Build a POC</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/support_onboarding_icon.png"><br>
              <br>
              Deliver a Support Onboarding</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/exec.png"><br>
              <br>
              Build an Executive Briefing</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/proposal.png"><br>
              <br>
              Create a Packaged Proposal</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/business_case.png"><br>
              <br>
              Build a Business Case</div>
          </div>
          <div class="col-sm-6 col-lg-3 servicesblocksinner">
            <div class="centerelement"><img src="css/images/deliver.png"><br>
              <br>
              Deliver a Health Check</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 nopadding servicesblocks2">
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement">Account Planning</div>
        </div>
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement">Opportunity Planning</div>
        </div>
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement">Sales to Success Planning</div>
        </div>
        <div class="col-sm-6 col-lg-3 servicesblocksinner">
          <div class="centerelement">Renewal Planning</div>
        </div>
      </div>
    </div>
    <!-- NATD Solution Engineering Service Catalog --> 
    
    <!-- Foundational SE Service -->
    <div class="row">
      <div class="col-xs-12 nopadding seservice">
        <div class="row">
          <div class="col-xs-12">
            <h4 align="center">Foundational SE Service</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement"><img src="css/images/tick_med.png"><br>
              <br>
              Customer
              Discovery</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement"><img src="css/images/tick_med.png"><br>
              <br>
              Platform
              Assessments</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement"><img src="css/images/tick_med.png"><br>
              <br>
              Hands-on
              Workshops </div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement"><img src="css/images/tick_med.png"><br>
              <br>
              Customer
              Demos</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement"><img src="css/images/tick_med.png"><br>
              <br>
              RFx
              Response Support</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement"><img src="css/images/tick_med.png"><br>
              <br>
              Sizing,
              Quoting & Config Support</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock">
            <div class="centerelement">Project Management Support</div>
          </div>
          <div class="col-sm-6 col-md-3 seserviceblock greybg">
            <div class="centerelement">Reusable
              Asset
              Harvesting</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row colorsspecs">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="col-md-6"></div>
        <div class="col-xs-6 col-md-3 nopadding"><i class="fa fa-square ca" aria-hidden="true"></i>&nbsp;&nbsp;Customer Activity</div>
        <div class="col-xs-6  col-md-3 nopadding text-right "><i class="fa fa-square ia" aria-hidden="true"></i>&nbsp;&nbsp;Internal Activity</div>
      </div>
    </div>
    <div class="row founddesc">
      <div class="col-sm-3 nopadding"><img src="css/images/seservce_img.jpg" class="img-responsive"></div>
      <div class="col-sm-9 founddescright">
        <p>In general, to engage our Hub SEs, Sales Reps should make SE service and resource requests through SCRM.  See the request process below for LOB details and exceptions.  Note that CPRs should make requests via their ECA contacts. </p>
        <p>All NATD SEs (i.e. ECAs, CSMs, Business Value Consultants, Industry Advisors, Platform Specialists and Hub SEs) are assigned to SE Services according to their role and skills. In particular, Platform Specialists and/or Hub SEs are assigned to services based on several criteria, starting with their skillset and specialty technology pillars.  In general, Platform Specialists are assigned when on-site customer contact is needed.  Hub SE resources are assigned based on workload and scaling needs, time constraints (e.g. need for 24x7 development) and special restrictions such as the need for US-only based resources. </p>
      </div>
    </div>
    <!-- Foundational SE Service -->
    <div class="row howengaged">
      <div class="col-sm-10 col-lg-10">
        <div class="col-sm-10 nopadding pull-right">
          <div class="howengagedtitle">How do Cloud Solution Hub SEs get engaged?</div>
        </div>
      </div>
      <div class="col-xs-12 nopadding">
        <div class="row"><img src="css/images/service-diagram.png" class="img-responsive"></div>
 
</div>
      </div>
    </div>
  </div>
</div>
