<!-- Start Heading -->

<div class="row text-center team"><img src="css/images/our-centers.png" class="img-responsive">
  <h1><span class="borderBottom">OUR HUBS</span></h1>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="col-xs-12 col-lg-12 cloudhubs nopadding">
        <div class="hubName_austin"><img src="css/images/our_hubs_thumb_icon.png" class="hubNameicon">AUSTIN, TEXAS</div>
        <div class="hubdesc">
          <div class="col-xs-8">Central Time (UTC-5)<br>
            <a href="?root=profiledetails#rstanoch">Bob Stanoch</a>, Director<br>
           
            <a class="watchvdo" href="https://otube.oracle.com/media/Austin+Cloud+Hub+Overview/0_2a91toco/-1" target="_blank">WATCH VIDEO<i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i></a>
          
          </div>
          <div class="col-xs-4"><img src="css/images/bob-profile-new.jpg" class="img-responsive img-rounded	"></div>
          
          <div class="col-xs-12 Hborder"></div>
          <div class="col-xs-12 text-center imgcenter meetteam"><a  href="#" id="Austin" class="" data-bind="click:showhubmembers"><img src="css/images/meetteam_orange.png" class="img-responsive"><br>
            Meet our Austin Team</a></div>
          <div class="col-xs-12 darkgraybg">Technology Pillar Teams</div>
          <div class="col-xs-12 teamdetails">
            <p><span class="red">AppDev</span> - <a href="?root=profiledetails#vgohel">Vaishali Gohel</a><br>
              <span class="red">IaaS</span> - <a href="?root=profiledetails#mofakhan">Moe Khan</a><br>
              <span class="red">Integration</span> - <a href="?root=profiledetails#anaveen">Aasheesh Naveen</a><br>
              <span class="red">Security & ITOM</span> - <a href="?root=profiledetails#rstanoch">Bob Stanoch</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="col-xs-12 col-lg-12 cloudhubs nopadding">
        <div class="hubName_blore"><img src="css/images/our_hubs_thumb_icon_blue.png" class="hubNameicon">BANGALORE, INDIA</div>
        <div class="hubdesc">
          <div class="col-xs-8">India Time (UTC+5.3)<br>
            <a href="https://people.us.oracle.com/pls/oracle/f?p=8000:2:::::PERSON_ID:42162861715388" target="_blank">Jack Kingsley</a>, Sr. Director<br>
            <a class="watchvdo" href="#">WATCH VIDEO<i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i></a>
          </div>
          <div class="col-xs-4"><img src="css/images/jack-profile-new.jpg" class="img-responsive img-rounded"></div>
          
          <div class="col-xs-12 Hborder"></div>
          <div class="col-xs-12 text-center imgcenter meetteam"><a  href="#" id="Bangalore" class="" data-bind="click:showhubmembers"><img src="css/images/meetteam_blue.png" class="img-responsive"><br>
            Meet our Bangalore Team</a></div>
          <div class="col-xs-12 darkgraybg">Technology Pillar Teams</div>
          <div class="col-xs-12 teamdetails">
            <p><span class="red">Analytics </span> - <a href="?root=profiledetails#rabose">Ranajoy Bose</a><br>
              <span class="red">AppDev </span> - (TBD)<br>
              <span class="red">IaaS </span> - (TBD)<br>
              <span class="red">Information Management </span> - (TBD)<br>
              <span class="red">Infrastructure </span> - <a href="?root=profiledetails#INDRANGA">Induraj Rangaswamy</a><br>
              <span class="red">Integration </span> - <a href="?root=profiledetails#RCRAGHAV">Raj Raghavanunni</a><br>
              <span class="red">Security & ITOM </span> - (TBD)<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="col-xs-12 col-lg-12 cloudhubs nopadding">
        <div class="hubName_reston"><img src="css/images/our_hubs_thumb_icon_pink.png" class="hubNameicon">RESTON, VIRGINIA</div>
        <div class="hubdesc">
          <div class="col-xs-8">Eastern Time (UTC-4)<br>
            <a href="?root=profiledetails#vgirish">Girish Venkat</a>, Sr. Director<br>
             <a class="watchvdo"  href="https://otube.oracle.com/media/0_m7xc7827" target="_blank">WATCH VIDEO<i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i></a>
          </div>
          <div class="col-xs-4"><img src="css/images/girish-profile-new.jpg" class="img-responsive img-rounded	"></div>
           
          <div class="col-xs-12 Hborder"></div>
          <div class="col-xs-12 text-center imgcenter meetteam"><a  href="#" id="Reston" class="" data-bind="click:showhubmembers"><img src="css/images/meetteam_pink.png" class="img-responsive"><br>
            Meet our Reston Team</a></div>
          <div class="col-xs-12 darkgraybg">Technology Pillar Teams</div>
          <div class="col-xs-12 teamdetails">
            <p><span class="red">Analytics </span> - <a href="?root=profiledetails#syimam">Tasbir Imam</a><br>
              <span class="red">Information Management </span> - <a href="?root=profiledetails#ruttaral">Renuka Uttarala</a><br>
              <span class="red">Infrastructure </span> - <a href="?root=profiledetails#CKALLAM">Chandra Kallam</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
