<!-- Start Heading -->

<div class="row text-center team"><img src="css/images/our-centers.png" class="img-responsive">
  <h1><span class="borderBottom">OUR HUBS</span></h1>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="col-xs-12 col-lg-12 cloudhubs nopadding">
        <div class="hubName_austin"><img src="css/images/our_hubs_thumb_icon.png" class="hubNameicon">AUSTIN, TEXAS</div>
        <div class="hubdesc">
          <div class="col-xs-8">Central Time (UTC-5)<br>
            Bob Stanoch, Sr. Manager<br>
           
            <a class="watchvdo" href="https://otube.oracle.com/media/Austin+Cloud+Hub+Overview/0_2a91toco/-1" target="_blank">WATCH VIDEO<i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i></a>
          
          </div>
          <div class="col-xs-4"><img src="css/images/bob-profile.jpg" class="img-responsive"></div>
          
          <div class="col-xs-12 Hborder"></div>
          <div class="col-xs-12 text-center imgcenter"><img src="css/images/meetteam_orange.png" class="img-responsive"><br>
            Meet our Austin Team</div>
          <div class="col-xs-12 darkgraybg">Technology Pillar Teams</div>
          <div class="col-xs-12 teamdetails">
            <p><span class="red">AppDev</span> - Vaishal Gobel<br>
              <span class="red">IaaS</span> - Moe Khan<br>
              <span class="red">Integration</span> - Asheesh Naveen<br>
              <span class="red">Security & ITOM</span> - Bob Stanoch</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="col-xs-12 col-lg-12 cloudhubs nopadding">
        <div class="hubName_blore"><img src="css/images/our_hubs_thumb_icon_blue.png" class="hubNameicon">BANGALORE, INDIA</div>
        <div class="hubdesc">
          <div class="col-xs-8">India Time (UTC+5.3)<br>
            Jack Kingsley, Sr. Director<br>
            <a class="watchvdo" href="#">WATCH VIDEO<i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i></a>
          </div>
          <div class="col-xs-4"><img src="css/images/jack-profile.jpg" class="img-responsive"></div>
          
          <div class="col-xs-12 Hborder"></div>
          <div class="col-xs-12 text-center imgcenter"><img src="css/images/meetteam_blue.png" class="img-responsive"><br>
            Meet our Bangalore Team</div>
          <div class="col-xs-12 darkgraybg">Technology Pillar Teams</div>
          <div class="col-xs-12 teamdetails">
            <p><span class="red">Analytics </span> - Ranajoy Bose<br>
              <span class="red">AppDev </span> - Jack K./Induraj R. (temps)<br>
              <span class="red">IaaS </span> - Induraj Rangaswamy (temp)<br>
              <span class="red">Information Management </span> - Ram Purohit (temp)<br>
              <span class="red">Infrastructure </span> - Induraj Rangaswamy<br>
              <span class="red">Integration </span> - Raj Raghavanunni<br>
              <span class="red">Security & ITOM </span> - Jack Kingsley (temp)<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="col-xs-12 col-lg-12 cloudhubs nopadding">
        <div class="hubName_reston"><img src="css/images/our_hubs_thumb_icon_pink.png" class="hubNameicon">RESTON, VIRGINIA</div>
        <div class="hubdesc">
          <div class="col-xs-8">Eastern Time (UTC-4)<br>
            Girish Venkat, Sr. Director<br>
             <a class="watchvdo"  href="https://otube.oracle.com/media/0_m7xc7827" target="_blank">WATCH VIDEO<i class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></i></a>
          </div>
          <div class="col-xs-4"><img src="css/images/girish-profile.jpg" class="img-responsive"></div>
           
          <div class="col-xs-12 Hborder"></div>
          <div class="col-xs-12 text-center imgcenter"><img src="css/images/meetteam_pink.png" class="img-responsive"><br>
            Meet our Reston Team</div>
          <div class="col-xs-12 darkgraybg">Technology Pillar Teams</div>
          <div class="col-xs-12 teamdetails">
            <p><span class="red">Analytics </span> - Tasbir Imam<br>
              <span class="red">Information Management </span> - Renuka Uttarala<br>
              <span class="red">Infrastructure </span> - Chandra Kallam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
