<!-- Start Slider -->

<div class="row ccontainer">
  <div id="eca-text-carousel-board" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
     <div class="row col-sm-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-sm-12">
                <div class="col-sm-3 col-lg-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-lg-6">
                  <h1><em> Certification Board Guidance</em> </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center team"><img src="css/images/board-area-icon-orange.png" class="img-responsive">
  <h1><span class="borderBottom">What Does the Board Do? 
 </span></h1>
</div>
<div class="row">
  <div class="container">
    <div class="ecarow col-sm-12"> 
     <p align="right"><a href="#" data-bind="click:expandall">Expand All</a> /
          <a href="#" data-bind="click:closeall">Close All</a></p> 
      <!--blocks -->
      <div class="col-md-12 nopadding"> 
      <oj-accordion id="accordionPage" multiple>
        <oj-collapsible id="c1">
          <div class="certifyecablocks_h"> Board Role and Responsibilities</div>
          <div class="certifyecablocks_t">
            <div class="certifyecablocks_h_2"> Guidance </div>
             <div data-bind="click:boardFirstGuidanceEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
                <p data-bind="html:board_first_guidance_data"></p>
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Additional Details ' }"> </button>
              <div>
                <div data-bind="click:boardFirstLinkEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
        <p data-bind="html:board_first_link_data"></p>
              </div>
            </div>
          </div>
        </oj-collapsible>
        <oj-collapsible id="c1">
          <div class="certifyecablocks_h">Certification Criteria</div>
          <div class="certifyecablocks_t">
          <div class="certifyecablocks_h_2"> Guidance </div>
           <div data-bind="click:boardSecondGuidanceEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
          <p data-bind="html:board_second_guidance_data"></p>
          <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
            <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Additional Details ' }"> </button>
            <div>
             <div data-bind="click:boardSecondLinkEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
       <p data-bind="html:board_second_link_data"></p>
            </div>
          </div>
          </div>
        </oj-collapsible>
        <oj-collapsible id="c1">
          <div class="certifyecablocks_h">Board Scheduling / Board Attendance</div>
          <div class="certifyecablocks_t">
          <div class="certifyecablocks_h_2"> Guidance </div>
           <div data-bind="click:boardThirdGuidanceEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
          <p data-bind="html:board_third_guidance_data"></p>
          <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
            <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Additional Details ' }"> </button>
            <div>
              <div data-bind="click:boardThirdLinkEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
        <p data-bind="html:board_third_link_data"></p>
            </div>
          </div>
          </div>
        </oj-collapsible>
        <oj-collapsible id="c1">
          <div class="certifyecablocks_h">Nominations for Review </div>
          <div class="certifyecablocks_t">
          <div class="certifyecablocks_h_2"> Guidance </div>
           <div data-bind="click:boardFourthGuidanceEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
          <p data-bind="html:board_fourth_guidance_data"></p>
          <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
            <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Additional Details ' }"> </button>
            <div>
             <div data-bind="click:boardFourthLinkEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
        <p data-bind="html:board_fourth_link_data"></p>
            </div>
          </div>
          </div>
        </oj-collapsible>
         <oj-collapsible id="c1">
          <div class="certifyecablocks_h">Board Event Schedule and Evaluation Resources</div>
          <div class="certifyecablocks_t">
          <div class="certifyecablocks_h_2"> Guidance </div>
          <div data-bind="click:boardFifthGuidanceEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
          <p data-bind="html:board_fifth_guidance_data"></p>
          <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
            <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Additional Details ' }"> </button>
            <div>
              <div data-bind="click:boardFifthLinkEditOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
        <p data-bind="html:board_fifth_link_data"></p>
            </div>
          </div>
          </div>
        </oj-collapsible>
       
      </oj-accordion>
      </div>
      <!--blocks --> 
    
      <!--blocks --> 
    
    </div>
  </div>
</div>

<!-- new code for dialog box-->
<!-- first 6 blocks edit templates -->
<div id="dialogWrapper">
  <div style="display:none" id="boardFirstGuidanceDialog" title="Edit Board Role and Responsibilities" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_first_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_first_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="boardSecondGuidanceDialog" title="Edit Certification Criteria " 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_second_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_second_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="boardThirdGuidanceDialog" title="Edit Board Scheduling / Board Attendance" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_third_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_third_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="boardFourthGuidanceDialog" title="Edit Nominations for Review" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_fourth_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_fourth_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="boardFifthGuidanceDialog" title="Edit Board Event Schedule and Evaluation Resources " 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_fifth_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_fifth_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="boardSixthGuidanceDialog" title="Edit Can I Sell and Do I Lead?" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_sixth_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_sixth_guidance"> </button>
      </div>
  </div>

</div>


<!-- EDIT LINKS-->
<div id="dialogWrapper">
  <div style="display:none" id="boardFirstLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_first_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_first_link"> </button>
      </div>
  </div>

  <div style="display:none" id="boardSecondLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_second_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_second_link"> </button>
      </div>
  </div>

  <div style="display:none" id="boardThirdLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_third_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_third_link"> </button>
      </div>
  </div>

  <div style="display:none" id="boardFourthLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_fourth_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_fourth_link"> </button>
      </div>
  </div>

  <div style="display:none" id="boardFifthLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_fifth_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_fifth_link"> </button>
      </div>
  </div>

  <div style="display:none" id="boardSixthLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:board_sixth_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:board_edit_sixth_link"> </button>
      </div>
  </div>

</div>

<!-- last 4 blocks for eca -->
<div class="row">
  <div class="container">
    <div class="col-sm-12 processmodel_h">
        ECA CERTIFICATION PROCESS MODEL
    </div>
    
    <div class="col-sm-12 ">
    <div class="processmodel_c col-sm-12"><div class=" haligncenter">
      <div class="col-sm-3">
        <div class="org_block process_allblocks inactive-eca-block">
          <a href="?root=eca-qualify"><img src="css/images/qualify-icon.png"><br>Qualify</a>
        </div>
      </div>
      
       <div class="col-sm-3">
       <div class="blue_block process_allblocks inactive-eca-block">
        <a href="?root=eca-nominate"> <img src="css/images/nominate-icon.png"><br>Nominate</a>
       </div>
      </div>
     
      <div class="col-sm-3">
        <div class="green_block process_allblocks inactive-eca-block">
          <a href="?root=eca-certify"> <img src="css/images/certify-icon.png"><br>Certify</a>
        </div>
      </div>
 <div class="col-sm-3 ecalboardshow">
        <div class="maroon_block process_allblocks active-eca-block">
          <a href="?root=eca-board"> <img src="css/images/board-area-icon-white.png"><br>ECA Board</a>
        </div>
      </div>
      </div>
    </div>
  </div> 
</div>
</div>
