<!-- Start Slider -->

<div class="row ccontainer">
  <div id="eca-text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
     <div class="row col-sm-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-sm-12">
                <div class="col-sm-3 col-lg-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-lg-6">
                  <h1><em> Certification Board Guidance
</em> </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center team"><img src="css/images/board-area-icon-orange.png" class="img-responsive">
  <h1><span class="borderBottom">What Does the Board Do? 
 </span></h1>
</div>
<!-- End Slider -->
<div class="row">
  <div class="container">
    <div class="ecarow col-sm-12"> 
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h">Board Role and Responsibilities
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="ecablocks_link">
        <a href="#">Link to ECA Guide / Deck - ODOCS</a>
        </div>
      </div>
      <!--blocks --> 
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Certification Criteria
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link to ECA Guide / Deck - ODOCS</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Board Scheduling / Board Attendance
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link to  Manger Guide / Checklist  - ODOCS

</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Nominations for Review 
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link ECAL 101 / Link to ECA Assessment Guide   - ODOCS


</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Board Event Schedule and Evaluation Resources
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link to ECA Guide / Deck - ODOCS



</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Can I Sell and Do I Lead?</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link to ECA Guide / ECA Contribution Deck – ODOCS / OTube
</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- last 4 blocks for eca -->
<div class="row">
  <div class="container">
    <div class="col-sm-12 processmodel_h">
        ECA CERTIFICATION PROCESS MODEL
    </div>
    
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div class="org_block process_allblocks inactive-eca-block">
          <a href="?root=eca-qualify"><img src="css/images/qualify-icon.png"><br>Qualify</a>
        </div>
      </div>
      
      <div class="col-sm-3">
       <div class="blue_block process_allblocks inactive-eca-block">
        <a href="?root=eca-nominate"> <img src="css/images/nominate-icon.png"><br>Nominate</a>
       </div>
      </div>
     
      <div class="col-sm-3">
        <div class="green_block process_allblocks inactive-eca-block">
          <a href="?root=eca-certify"> <img src="css/images/certify-icon.png"><br>Certify</a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="maroon_block process_allblocks active-eca-block">
          <a href="?root=eca-board"> <img src="css/images/board-area-icon-white.png"><br>ECA Board</a>
        </div>
      </div>
    </div>
  </div> 
</div>
