<!-- Start Slider -->

<div class="row ccontainer">
  <div id="eca-text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
     <div class="row col-sm-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-sm-12">
                <div class="col-sm-3 col-lg-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-lg-6">
                  <h1><em>How Am I Nominated for Board Certification </em> </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center team"><img src="css/images/nominate-icon-orange.png" class="img-responsive">
  <h1><span class="borderBottom">Nomination Overview 
 </span></h1>
</div>
<!-- End Slider -->
<div class="row">
  <div class="container">
    <div class="ecarow col-sm-12"> 
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Build Your Customer Solution Summary
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="ecablocks_link">
        <a href="#">Link to ECA Guide / Deck - ODOCS</a>
        </div>
      </div>
      <!--blocks --> 
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Complete the Qualification Checklist
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link to Qualification Checklist  - ODOCS
</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Publish Your Engagement Deliverables
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Qualification Checklist - ODOCS

</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Define and Present your Contributions
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Link to ECA Guide / Deck - ODOCS



</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Manager Review and Validation
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Manager’s  Certification Guide - ODOCS




</a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Submit Nomination for Certification 
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <p>The first qualification is to be working in the ECA Role.  To be successful in certification you must be in the position to lead and execute ECAL engagements.  Are you  assigned ECA in an NATD ECA LOB org as follows: </p>
                <ul>
                  <li>Enterprise ECA (Robin Link)</li>
                  <li>National ECA (Edwin Upson)</li>
                  <li>Public Sector ECA (Aaron Cornfeld)</li>
                  <li>Retail & HC ECA (Alan Levine)</li>
                  <li>SSI ECA (Larry Welles)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <a href="#">Manager’s  Certification Guide - ODOCS

</a>
        </div>
      </div>
    </div>
  </div>
</div>
