<!-- Start Slider -->

<div class="row ccontainer">
  <div id="eca-text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
     <div class="row col-sm-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-sm-12">
                <div class="col-sm-3 col-lg-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-lg-6">
                  <h1><em>How Am I Nominated for Board Certification </em> </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center team"><img src="css/images/nominate-icon-orange.png" class="img-responsive">
  <h1><span class="borderBottom">Nomination Overview 
 </span></h1>
</div>
<!-- End Slider -->
<div class="row">
  <div class="container">
    <div class="ecarow col-sm-12"> 
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Build Your Customer Solution Summary
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <div data-bind="click:nominateFirstGuidanceEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
                <p data-bind="text:nominate_first_guidance_data"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="ecablocks_link">
        <div data-bind="click:nominateFirstLinkEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
        <a href="#"><p data-bind="text:nominate_first_link_data"></p></a>

        </div>
      </div>
      <!--blocks --> 
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Complete the Qualification Checklist
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <div data-bind="click:nominateSecondGuidanceEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
                <p data-bind="text:nominate_second_guidance_data"></p>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <div data-bind="click:nominateSecondLinkEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
        <a href="#"><p data-bind="text:nominate_second_link_data"></p></a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Publish Your Engagement Deliverables
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <div data-bind="click:nominateThirdGuidanceEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
                <p data-bind="text:nominate_third_guidance_data"></p>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <div data-bind="click:nominateThirdLinkEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
        <a href="#"><p data-bind="text:nominate_third_link_data"></p></a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Define and Present your Contributions
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <div data-bind="click:nominateFourthGuidanceEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
                <p data-bind="text:nominate_fourth_guidance_data"></p>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <div data-bind="click:nominateFourthLinkEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
        <a href="#"><p data-bind="nominate_text:fourth_link_data"></p></a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Manager Review and Validation
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <div data-bind="click:nominateFifthGuidanceEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
                <p data-bind="text:nominate_fifth_guidance_data"></p>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <div data-bind="click:nominateFifthLinkEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
        <a href="#"><p data-bind="text:nominate_fifth_link_data"></p></a>
        </div>
      </div>
      <!--blocks -->
      <div class="col-md-6 col-lg-2 nopadding ecablocks_o">
        <div class="ecablocks_t">
          <div class="ecablocks_h"> Submit Nomination for Certification 
</div>
          <div class="ecablocks_button">
            <div id="collapsiblePage" data-bind="ojComponent: {component: 'ojCollapsible'}">
              <button class="guidancebutton" id= "button"
            data-bind="ojComponent: { component: 'ojButton', label: 'Guidance' }"> </button>
              <div>
                <div data-bind="click:nominateSixthGuidanceEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
                <p data-bind="text:nominate_sixth_guidance_data"></p>
              </div>
            </div>
          </div>
        </div>
         <div class="ecablocks_link">
        <div data-bind="click:nominateSixthLinkEditOpen" class="edit_icon col-xs-12"><img src="css/images/edit_icon.png"></div>
        <a href="#"><p data-bind="text:nominate_sixth_link_data"></p></a>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- new code for dialog box-->
<!-- first 6 blocks edit templates -->
<div id="dialogWrapper">
  <div style="display:none" id="nominateFirstGuidanceDialog" title="Edit Role in Solution Engineering" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_first_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_first_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateSecondGuidanceDialog" title="Edit Core Skills Engagement" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_second_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_second_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateThirdGuidanceDialog" title="Edit Core Skills Engagement" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_third_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_third_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateFourthGuidanceDialog" title="Edit Core Skills Engagement" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_fourth_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_fourth_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateFifthGuidanceDialog" title="Edit Core Skills Engagement" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_fifth_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_fifth_guidance"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateSixthGuidanceDialog" title="Edit Core Skills Engagement" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_sixth_guidance_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_sixth_guidance"> </button>
      </div>
  </div>

</div>


<!-- EDIT LINKS-->
<div id="dialogWrapper">
  <div style="display:none" id="nominateFirstLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_first_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_first_link_data_edit_first_link"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateSecondLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_second_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_second_link"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateThirdLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_third_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_third_link"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateFourthLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_fourth_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_fourth_link"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateFifthLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_fifth_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_fifth_link"> </button>
      </div>
  </div>

  <div style="display:none" id="nominateSixthLinkDialog" title="Edit this link" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
     <div class="oj-dialog-body"><textarea style="width:280px;height:80px" data-bind="value:nominate_sixth_link_data, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:nominate_edit_sixth_link"> </button>
      </div>
  </div>

</div>

<!-- last 4 blocks for eca -->
<div class="row">
  <div class="container">
    <div class="col-sm-12 processmodel_h">
        ECA CERTIFICATION PROCESS MODEL
    </div>
    
    <div class="col-sm-12">
    <div class="col-xs-8 centeralign">
      <div class="col-sm-3">
        <div class="org_block process_allblocks inactive-eca-block">
          <a href="?root=eca-qualify"><img src="css/images/qualify-icon.png"><br>Qualify</a>
        </div>
      </div>
      
      <div class="col-sm-3">
       <div class="blue_block process_allblocks active-eca-block">
        <a href="?root=eca-nominate"> <img src="css/images/nominate-icon.png"><br>Nominate</a>
       </div>
      </div>
     
      <div class="col-sm-3">
        <div class="green_block process_allblocks inactive-eca-block">
          <a href="?root=eca-certify"> <img src="css/images/certify-icon.png"><br>Certify</a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="maroon_block process_allblocks inactive-eca-block">
          <a href="?root=eca-board"> <img src="css/images/board-area-icon-white.png"><br>ECA Board</a>
        </div>
      </div>
    </div>
    </div>
  </div> 
</div>