<!-- Start Slider -->

<div class="row ccontainer">
  <div id="eca-text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
    <div class="col-xs-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-xs-12">
                <div class="col-sm-3 col-lg-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-lg-6">
                  <p>Maintain Sales and Product Knowledge </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider -->
<div class="row">
  <div class="container">
    <div class="ecarow col-xs-12"> 
      <!--blocks -->
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="ecablocks">
          <div class="ecablocks_t"><img src="css/images/approach-icon.png"><br>
            What You Need to Know </div>
          <div class="ecablocks_b">
            <div data-bind="click:ecacoreFirstBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_1"></p>
          </div>
        </div>
      </div>
      <!--blocks --> 
      <!--blocks -->
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="ecablocks">
          <div class="ecablocks_t"><img src="css/images/process-icon.png"><br>
            Methods and Types </div>
          <div class="ecablocks_b">
            <div data-bind="click:ecacoreSecondBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_2"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="ecarow col-xs-12">
      <div id="tabs-container" class="ecacoretabs">
        <div id="tabs" data-bind="ojComponent:{component: 'ojTabs', disabledTabs: [3]}"> 
          <!-- tab bar -->
          <ul class="col-sm-12 nopadding">
            <li class="col-xs-4 active nopaddingxs ecacorelinks"><div class="tabheading oj-sm-12">ECAL 101
              <div class="orangtab arrowdown"><span class="glyphicon glyphicon-chevron-down"></span></div></div>
              <div class="oj-sm-12 linkdesc sales_desc"><div data-bind="click:ecacoreECALBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_ecal"></p></div>
            </li>
            <li class="col-xs-4 active nopaddingxs ecacorelinks"><div class="tabheading oj-sm-12">Cloud Architecture Skills
              <div class="orangtab arrowdown"><span class="glyphicon glyphicon-chevron-down"></span></div></div>
              <div class="oj-sm-12 linkdesc sales_desc"><div data-bind="click:ecacoreCASBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_cas"></p></div>
            </li>
            <li class="col-xs-4 active nopaddingxs ecacorelinks"><div class="tabheading oj-sm-12">ECA Cloud Solutions
              <div class="orangtab arrowdown"><span class="glyphicon glyphicon-chevron-down"></span></div></div>
              <div class="oj-sm-12 linkdesc sales_desc"><div data-bind="click:ecacoreECSBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_ecs"></p></div>
            </li>
          
          </ul>
          
          <!-- tab contents -->
          <div id="tabs-1" class="margintop30 col-sm-12 nopaddingxs">
         <p align="right"><a href="#" data-bind="click:expandall">Expand All</a> /
          <a href="#" data-bind="click:closeall">Close All</a></p> 
            <oj-accordion id="accordionPage" multiple >
              <oj-collapsible id="c1" expanded> <span slot="header"><span> Cloud Architecture Foundation </span></span>
                <div>
                <div data-bind="click:ecacoreThirdBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_3"></p>
            </div>
              </oj-collapsible>
              <oj-collapsible id="c2" expanded> <span slot="header"><span> ECAL Framework </span></span>
                <div>
                  <div data-bind="click:ecacoreFourthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_4"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1" expanded> <span slot="header"><span> ECAL Execution </span></span>
                <div>
                  <div data-bind="click:ecacoreFifthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_5"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1" expanded> <span slot="header"><span> ECA Practitioner Assessment </span></span>
                <div>
                  <div data-bind="click:ecacoreSixthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_6"></p>
                </div>
              </oj-collapsible>
            </oj-accordion>
          </div>
          <div id="tabs-2" class="margintop30 col-sm-12 nopaddingxs fadeIn">
          <p align="right"><a href="#" data-bind="click:expandall">Expand All</a> /
          <a href="#" data-bind="click:closeall">Close All</a></p>
            <oj-accordion id="accordionPage1" multiple>
              <oj-collapsible id="c1"> <span slot="header"><span>Cloud Solution Patterns </span></span>
                <div>
                  <div data-bind="click:ecacoreSeventhBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_7"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1"> <span slot="header"><span>SE as a Service  in ECAL </span></span>
                <div>
                  <div data-bind="click:ecacoreEighthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_8"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c4"> <span slot="header">ECAL Advanced Topics By Stage </span>
                <div>
                  <oj-accordion id="nestedAccordion">
                    <oj-collapsible id="ic1"> <span slot="header">Cloud Vision </span>
                      <div>
                  <div data-bind="click:ecacoreNinthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_9"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Portfolio Work Load Analysis </span>
                      <div>
                  <div data-bind="click:ecacoreTenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_10"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Future State </span>
                      <div>
                  <div data-bind="click:ecacoreEleventhBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_11"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Migration & Adoption Planning </span>
                      <div>
                  <div data-bind="click:ecacoreEighteenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_18"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Solution Proposal </span>
                      <div>
                  <div data-bind="click:ecacoreNineteenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_19"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Onboarding & Adoption Prep </span>
                      <div>
                  <div data-bind="click:ecacoreTwentiethBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_20"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Solution Deployment </span>
                      <div>
                  <div data-bind="click:ecacoreTwentyFirstBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_21"></p>
                </div>
                    </oj-collapsible>
                    <oj-collapsible id="ic2"> <span slot="header">Cloud Value Review </span>
                      <div>
                  <div data-bind="click:ecacoreTwentySecondBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_22"></p>
                </div>
                    </oj-collapsible>

                  </oj-accordion>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1"> <span slot="header"><span>Architecture Deep Dive Content </span></span>
                <div>
                  <div data-bind="click:ecacoreTwelvthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_12"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1"> <span slot="header"><span>Cross Pillar Solutions </span></span>
                <div>
                  <div data-bind="click:ecacoreThirteenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_13"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1"> <span slot="header"><span>Oracle Architect Certification </span></span>
                <div>
                  <div data-bind="click:ecacoreFourteenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_14"></p>
                </div>
              </oj-collapsible>
            </oj-accordion>
          </div>
          <div id="tabs-3" class="nopaddingxs margintop30 col-sm-12 fade in"> 
          <p align="right"><a href="#" data-bind="click:expandall">Expand All</a> /
          <a href="#" data-bind="click:closeall">Close All</a></p>
           <oj-accordion id="accordionPage2" multiple>
              <oj-collapsible id="c1"> <span slot="header"><span> ECAL Field Repository 
</span></span>
                <div>
                  <div data-bind="click:ecacoreFifteenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_15"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1"> <span slot="header"><span> ECA Engagement and Contribution
 </span></span>
                <div>
                  <div data-bind="click:ecacoreSixteenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_16"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c1"> <span slot="header"><span> ECAL Industry Solutions
 </span></span>
                <div>
                  <div data-bind="click:ecacoreSeventeenthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecacore_enablement_block_17"></p>
                </div>
              </oj-collapsible>
              
            </oj-accordion>
           </div>
        </div>
      </div>
    </div>
     <div class="ecarow col-xs-12">
      
       <div class="col-lg-12">
        <div class="processmodel_c col-sm-12">
         
         <div class="haligncenter">
        <div class="col-sm-3">
        <div class="org_block process_allblocks inactive-eca-block">
        <a href="?root=salesstrategy"><img src="css/images/qualify-icon.png"><br>Sales, Strategy Platform
</a>
        </div>
        

        </div>
        <div class="col-sm-3">
       <div class="blue_block process_allblocks active-eca-block">
        <a href="?root=ecacore"> <img src="css/images/nominate-icon.png"><br>ECA Core</a>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="green_block process_allblocks inactive-eca-block">
      <a href="?root=ecaops"> <img src="css/images/certify-icon.png"><br>ECA OPS</a>
        </div>
        </div>


        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dialogWrapper">
<div style="display:none" id="ecacoreFirstBlockDialog" title="Edit What You Need to Know" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" id="txt1" data-bind="value:ecacore_enablement_block_1, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveFirstBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreSecondBlockDialog" title="Edit Methods and Types" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_2, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveSecondBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreThirdBlockDialog" title="Edit Cloud Architecture Foundation" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_3, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveThirdBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreFourthBlockDialog" title="Edit ECAL Framework" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_4, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveFourthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreFifthBlockDialog" title="Edit ECAL Execution" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_5, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveFifthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreSixthBlockDialog" title="Edit ECA Practitioner Assessment" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_6, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveSixthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreSeventhBlockDialog" title="Edit Cloud Solution Patterns" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" id="txt1" data-bind="value:ecacore_enablement_block_7, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveSeventhBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreEighthBlockDialog" title="Edit SE as a Service in ECAL" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_8, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveEighthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreNinthBlockDialog" title="Edit Cloud Vision" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_9, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveNinthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreTenthBlockDialog" title="Edit Portfolio Work Load Analysis" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_10, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveTenthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreEleventhBlockDialog" title="Edit Future State" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_11, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveEleventhBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreTwelvthBlockDialog" title="Edit Architecture Deep Dive Content" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_12, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveTwelvthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreThirteenthBlockDialog" title="Edit Cross Pillar Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" id="txt1" data-bind="value:ecacore_enablement_block_13, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveThirteenthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreFourteenthBlockDialog" title="Edit Oracle Architect Certification" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_14, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveFourteenthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreFifteenthBlockDialog" title="Edit ECAL Field Repository" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_15, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveFifteenthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreSixteenthBlockDialog" title="Edit ECA Engagement and Contribution" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_16, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveSixteenthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecacoreSeventeenthBlockDialog" title="Edit ECAL Industry Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_17, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveSeventeenthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreEighteenthBlockDialog" title="Edit ECAL Industry Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_18, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveEighteenthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreNineteenthBlockDialog" title="Edit ECAL Industry Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_19, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveNineteenthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreTwentiethBlockDialog" title="Edit ECAL Industry Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_20, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveTwentiethBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreTwentyFirstBlockDialog" title="Edit ECAL Industry Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_21, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveTwentyFirstBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreTwentySecondBlockDialog" title="Edit ECAL Industry Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_22, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveTwentySecondBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreECALBlockDialog" title="Edit ECAL 101" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_ecal, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveECALBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreCASBlockDialog" title="Edit Cloud Architecture Skills" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_cas, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveCASBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecacoreECSBlockDialog" title="Edit ECA Cloud Solutions" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecacore_enablement_block_ecs, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecacoreSaveECSBlockValue"> </button>
    </div>
  </div>

    
</div>
