<!-- Start Slider -->

<div class="row ccontainer">
  <div id="ecaenablement-text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
    <div class="col-xs-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-xs-12">
                <div class="col-sm-3 col-md-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-md-6">
                  <p>One Stop Source for On Demand Enablement and Training Events supporting the ECA Community



</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider -->
<div class="row">
  <div class="container">
    <div class="ecarow col-xs-12"> 
      <!--blocks -->
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="ecablocks">
          <div class="ecablocks_t"><img src="css/images/approach-icon.png"><br>
            Our Enablement <br>
Strategy

 </div>
          <div class="ecablocks_b">
          <div data-bind="click:firstBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:enablement_block_1"></p>
          </div>
        </div>
      </div>
      <!--blocks --> 
      <!--blocks -->
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="ecablocks">
          <div class="ecablocks_t"><img src="css/images/process-icon.png"><br>
            Our Delivery <br>
Approach


</div>
          <div class="ecablocks_b">
          <div data-bind="click:secondBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:enablement_block_2"></p>
          </div>
        </div>
      </div>
      <!--blocks -->
     <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="ecablocks">
          <div class="ecablocks_t"><img src="css/images/responsibilities-icon.png"><br>
            Your Enablement<br>Responsibilities


</div>
          <div class="ecablocks_b">
            <div data-bind="click:thirdBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:enablement_block_3"></p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="ecarow col-xs-12">
      <div class="col-lg-3">
        <div class="cert_calendar">
          <div class="cert_calendar_t"><img src="css/images/calendar-icon.png">&nbsp;ECA Community Resources</div>
           <div class="cert_calendar_b"> <div data-bind="click:fourthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:enablement_block_4"></p>
</div>
        </div>
      </div>
       <div class="col-lg-9">
        <div class="processmodel_c col-sm-12">
         <div class="col-sm-12 processmodel_h">
        ECA Enablement Overview Model
        </div>
         <div class="col-sm-12 haligncenterm">
        <div class="col-sm-3">
        <div class="org_block process_allblocks">
        <a href="?root=salesstrategy"><img src="css/images/qualify-icon.png"><br>Sales, Strategy Platform
</a>
        </div>
        <p align="center">Maintain Sales and Product Knowledge</p>

        </div>
        <div class="col-sm-3">
       <div class="blue_block process_allblocks">
        <a href="?root=ecacore"> <img src="css/images/nominate-icon.png"><br>ECA Core</a>
        </div><p align="center">Grow and Expand Cloud Architecture Skills
</p>
        </div>
        <div class="col-sm-3">
        <div class="green_block process_allblocks">
      <a href="?root=ecaops"> <img src="css/images/certify-icon.png"><br>ECA OPS</a>
        </div><p align="center">ECAL and ECA Operations</p>
        </div>


        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="dialogWrapper">
  <div style="display:none" id="firstBlockDialog" title="Edit Our Enablement 
Strategy" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:enablement_block_1, valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:saveFirstBlockValue()"> </button>
      </div>
  </div>

  <div style="display:none" id="secondBlockDialog" title="Edit Our Delivery 
Approach" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:enablement_block_2,valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:saveSecondBlockValue()"> </button>
      </div>
  </div>

  <div style="display:none" id="thirdBlockDialog" title="Edit Your Enablement
Responsibilities" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:enablement_block_3,valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:saveThirdBlockValue()"> </button>
      </div>
  </div>

  <div style="display:none" id="fourthBlockDialog" title="Edit ECA Community Resources" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body"><textarea style="height:250px;width:100%" data-bind="value:enablement_block_4,valueUpdate: 'keyup'"></textarea>
       
     </div>
     <div class="oj-dialog-footer">
        <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:saveFourthBlockValue()"> </button>
      </div>
  </div>
 

</div>