<!-- Start Slider -->

<div class="row ccontainer">
  <div id="eca-text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
    <div class="col-xs-12">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="col-xs-12">
                <div class="col-sm-3 col-lg-6 text-center leftImage"> </div>
                <div class="col-sm-9 col-lg-6">
                  <p>Manage ECA Operation Activities.
</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider -->
<div class="row">
  <div class="container">
    <div class="ecarow1 col-xs-12 nopadding"> 
      <!--blocks -->
      <div class="col-xs-12 nopadding">
        <div class="ecablocks">
          <div class="ecablocks1_t greyBg "><img src="css/images/approach-icon.png" align="middle">&nbsp;
            What You Need to Know </div>
          <div class="ecablocks1_b col-xs-12">
            <div data-bind="click:ecaopsFirstBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_1"></p>
            <ul class="col-sm-12 nopadding salesbuttons">
              <li class="col-md-4 active nopaddingxs"><div class="salesbuttons_i"> Engagement Management
</div>
               <div class="sales_desc"><div data-bind="click:ecaopsEMBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_em"></p></div>
              </li>
              <li class="col-md-4 nopaddingxs"><div class="salesbuttons_i"> Resource Management
</div><div class="sales_desc"><div data-bind="click:ecaopsRMBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_rm"></p></div>
               
              </li>
              <li class="col-md-4 nopaddingxs"><div class="salesbuttons_i"> Time Management
</div><div class="sales_desc"><div data-bind="click:ecaopsTMBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_tm"></p></div>
               
                
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--blocks --> 
      <!--blocks --> 
      
    </div>
    <div class="ecarow1 col-xs-12 nopadding">
      <div class="col-xs-12 nopadding">
        <div class="ecablocks">
          <div class="ecablocks1_t"><img src="css/images/process-icon.png" align="middle">&nbsp;
            Methods and Types </div>
          <div class="ecablocks1_b col-xs-12">
            <div data-bind="click:ecaopsSecondBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_2"></p>
            <p align="right"><a href="#" data-bind="click:expandall">Expand All</a> /
          <a href="#" data-bind="click:closeall">Close All</a></p> 
            <oj-accordion id="accordionPage">
              <oj-collapsible id="c1"> <span slot="header"><span>SCRM 
</span></span>
          <div>
                <div data-bind="click:ecaopsThirdBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_3"></p>
            </div>
              </oj-collapsible>
              <oj-collapsible id="c3" > <span slot="header">SCRM and SE Services 
</span>
                <div>
                  <div data-bind="click:ecaopsFourthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_4"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c3" > <span slot="header">Sales Analytics

</span>
                <div>
                  <div data-bind="click:ecaopsFifthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_5"></p>
                </div>
              </oj-collapsible>
              <oj-collapsible id="c3" > <span slot="header">ASR Lookup

 </span>
                <div>
                  <div data-bind="click:ecaopsSixthBlockOpen" class="edit_icon col-xs-12 ecaladminshow"><img src="css/images/edit_icon.png"></div>
            <p data-bind="html:ecaops_enablement_block_6"></p>
                </div>
              </oj-collapsible>
            
            </oj-accordion>
          </div>
        </div>
      </div>
    </div>
     <div class="ecarow col-xs-12">
      
       <div class="col-lg-12">
        <div class="processmodel_c col-sm-12">
         
         <div class="haligncenter">
        <div class="col-sm-3">
        <div class="org_block process_allblocks inactive-eca-block">
        <a href="?root=salesstrategy"><img src="css/images/qualify-icon.png"><br>Sales, Strategy Platform
</a>
        </div>
        

        </div>
        <div class="col-sm-3">
       <div class="blue_block process_allblocks inactive-eca-block">
        <a href="?root=ecacore"> <img src="css/images/nominate-icon.png"><br>ECA Core</a>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="green_block process_allblocks active-eca-block">
      <a href="?root=ecaops"> <img src="css/images/certify-icon.png"><br>ECA OPS</a>
        </div>
        </div>


        </div>
        <div class=" haligncenter">
          <div class="col-sm-12">
            <div class="lb_block"> <a href="?root=ecaenablement">ECA Enablement Overview</a> </div>
          </div>
         
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dialogWrapper">
  <div style="display:none" id="ecaopsFirstBlockDialog" title="Edit What You Need to Know" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" id="txt1" data-bind="value:ecaops_enablement_block_1, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveFirstBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecaopsSecondBlockDialog" title="Edit Methods and Types" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_2, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveSecondBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecaopsThirdBlockDialog" title="SCRM" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_3, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveThirdBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecaopsFourthBlockDialog" title="Edit SCRM and SE Services" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_4, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveFourthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecaopsFifthBlockDialog" title="Edit Sales and Analytics" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_5, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveFifthBlockValue"> </button>
    </div>
  </div>

    <div style="display:none" id="ecaopsSixthBlockDialog" title="Edit ASR Lookup" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_6, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveSixthBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecaopsEMBlockDialog" title="Edit Engagement Management" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_em, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveEMBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecaopsRMBlockDialog" title="Edit Resource Management" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_rm, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveRMBlockValue"> </button>
    </div>
  </div>

  <div style="display:none" id="ecaopsTMBlockDialog" title="Edit Time Management" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
    <div class="oj-dialog-body">
      <textarea style="height:250px;width:100%" data-bind="value:ecaops_enablement_block_tm, valueUpdate: 'keyup'"></textarea>
    </div>
    <div class="oj-dialog-footer"> 
      <!-- <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:closebutton1"> </button> -->
      <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'SAVE'},click:ecaopsSaveTMBlockValue"> </button>
    </div>
  </div>

</div>
