<!-- Start Slider -->

<div class="row ccontainer">
  <div id="text-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators --> 
    
    <!-- Wrapper for slides -->
    <div class="row">
      <div class="container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div>
                <div class="col-sm-3 col-lg-2 text-center leftImage"><img src="css/images/hamza_homepage.jpg" class="img-responsive img-rounded" style="max-width:165px;margin-bottom:5px;">
                  <p>Hamza Jahangir<br>
                    VP, Oracle Cloud Solution Hubs</p>
                </div>
                <div class="col-sm-9 col-lg-10">
                  <p>“This site is your single source to the services and solutions provided by the Oracle Cloud Solution Hubs. Oracle’s Cloud Solution Hubs are special facilities where our solution engineers come together to build innovative industry Cloud solutions, providing a range of engineering services to Oracle Sales and our customers.” </p>
                  <div class="col-sm-6 col-lg-3 sliderButtons"><a class="watchvdo" href="https://otube.oracle.com/media/Cloud+Solution+Hubs+Overview+-+Hamza+Jahangir/0_2cw5wcyz/3422" target="_blank">WATCH VIDEO<i class="fa fa-play-circle pull-right" aria-hidden="true"></i></a></div>
                  <div class="col-sm-6 col-lg-3 sliderButtons"> <a class="watchvdo" href="css/pdf/Introducing-OracleCloudSolutionHubs-Aug2017.pptx" target="_blank">DOWNLOAD PPT<i class="fa fa-download pull-right" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider --> 
<!-- Start Icons -->
<div class="row icons">
  <div class="icon-container">
  <div class="col-xs-0 col-sm-1"></div>
    <div class="col-xs-6 col-sm-2 text-center icon"><a href="?root=profileslist"><img src="css/images/our-people.png" class="img-responsive"><br>
      Our People</a></div>
    <div class="col-xs-6 col-sm-2 text-center icon"><a href="?root=cloudhubs"><img src="css/images/our-centers-icon.png" class="img-responsive"><br>
      Our Hubs</a></div>
    <div class="col-xs-6 col-sm-2 text-center icon"><a href="?root=catalogs"><img src="css/images/our-services.png" class="img-responsive"><br>
      Our Services</a></div>
    <div class="col-xs-6 col-sm-2 text-center icon"><a href="?root=assets"><img src="css/images/assets.png" class="img-responsive"><br>
      Our Assets</a></div>
      <div class="col-xs-6 col-sm-2 text-center icon"><a href="http://innovate.us.oracle.com/ecal/" target="_blank"><img src="css/images/ecal_icon_small.png" class="img-responsive"><br>
      ECAL</a></div>
      <div class="col-xs-0 col-sm-1"></div>
  </div>
</div>
<!-- End Icons --> 
<!-- Start Buttons -->
<div class="row">
  <div class="container nopaddingipd">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="col-xs-12 col-sm-12 darkblue nopadding">
        <div class="col-xs-4 nopadding "><img src="css/images/who_we_are_left.jpg" class="img-responsive"></div>
        <div class="col-xs-8 whoweare">
          <h2>OUR MISSION </h2>
          <p>To take our customers problems and turn them into customer opportunities by designing & building next-gen business solutions that leverage our entire Oracle Cloud stack, our modern DevOps platform, our Agile development best practices, and our very talented Cloud developers. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 nopadding whatwedo">
        <div class="col-xs-12">
          <h2>WHAT WE DO</h2>
          <p>We specialize in SE Services requiring Cloud Solution Development and high-velocity, high-scale delivery.</p>
          <div class="col-xs-6 nopadding">
            <ul class="whatwedolist">
              <li><i class="fa fa-square" aria-hidden="true"></i>Demos</li>
              <li><i class="fa fa-square" aria-hidden="true"></i>POCs</li>
              <li><i class="fa fa-square" aria-hidden="true"></i>Workshops</li>
            </ul>
          </div>
          <div class="col-xs-6 nopadding">
            <ul class="whatwedolist">
              <li><i class="fa fa-square" aria-hidden="true"></i>Cloud Accelerate</li>
              <li><i class="fa fa-square" aria-hidden="true"></i>ECAL Support</li>
              <li><i class="fa fa-square" aria-hidden="true"></i>Sizing & Config</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="col-xs-12 col-sm-12 how_to_engage nopadding">
        <div class="col-sm-8 nopadding blackBg">
          <h2>WHO TO CONTACT</h2>
          <p>Use SCRM to request SE services and resources.</p>
          <br>
          <p><a href="mailto:hamza.jahangir@oracle.com">Hamza Jahangir</a><br>
            <a href="#">Oracle Cloud Solution Hubs Leader</a><br>
            <br>
            <a href="mailto:robert.stanoch@oracle.com">Bob Stanoch</a><br>
            <a href="https://otube.oracle.com/media/Austin+Cloud+Hub+Overview/0_2a91toco/-1" target="_blank">Austin Hub</a><br>
            <br>
            <a href="mailto:jack.kingsley@oracle.com">Jack Kingsley</a><br>
            <a href="#">Bangalore Hub</a><br>
            <br>
            <a href="mailto:v.girish@oracle.com">Girish Venkat</a><br>
            <a href="https://otube.oracle.com/media/0_m7xc7827" target="_blank">Reston Hub</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="col-xs-12 col-sm-12 col-lg-12 cloud_hubs nopadding">
        <div class="col-xs-6 col-sm-8  cloud_hubs_left">
          <h2>HOW WE ARE ORGANIZED</h2>
          <p>As part of the NATD Solution Engineering org, we are organized by our geographic hubs in Austin, Reston, and Bangalore and by technology pillars.</p>
        </div>
        <div class="col-xs-6 col-sm-4 nopadding pinkBg">
          <ul>
            <li><i class="fa fa-square" aria-hidden="true"></i>Analytics</li>
            <li><i class="fa fa-square" aria-hidden="true"></i>AppDev</li>
            <li><i class="fa fa-square" aria-hidden="true"></i>IaaS</li>
            <li><i class="fa fa-square" aria-hidden="true"></i>Info Mgmt</li>
            <li><i class="fa fa-square" aria-hidden="true"></i>Infrastructure</li>
            <li><i class="fa fa-square" aria-hidden="true"></i>Integration</li>
            <li><i class="fa fa-square" aria-hidden="true"></i>Security</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12 nopadding text-center deliver">
        <div class="col-xs-7">
          <h2>HOW TO ENGAGE</h2>
          <p>To engage, Sales Reps should make SE service and resource requests using SCRM.  Our Hub SEs are then assigned as appropriate.  For more details regarding the specific request process for your LOB, see “Our Services” page.</p>
        </div>
        <div class="col-xs-5 deliverimg text-center">
          <img src="css/images/orange_cloud.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
