<link rel="stylesheet" href="../../css/home.css">
<div class="oj-hybrid-padding">
   <div class="home">

  <h3>Solution Engineering as a Service</h3>

      <div class="icon">
         <a href="/?root=welcome"><img src="../../css/images/welcome-icon.png" alt="" height="100"><p class="caption">Welcome</p></a>
      </div>
      <div class="icon">
     <a href="?root=cloudhubs"><img src="../../css/images/our-centers-icon.png" alt="" height="100"><p class="caption">Cloud Hubs</p></a>
  </div>
  <div class="icon">

     <a href="?root=profiles"><img  src="../../css/images/profile-icon.png" alt="" height="100"><p class="caption">SE Faces</p></a>
  </div>
  <div class="icon">

     <a href="?root=catalogs"><img src="../../css/images/catalog-icon-disabled.png" alt="" height="100"><p class="caption">Catalogs</p></a>
  </div>
  <div class="icon">

     <a href="?root=assets"><img src="../../css/images/asset-repo-icon-disabled.png" alt="" height="100"><p class="caption">Assets</p></a>
  </div>
  <div class="icon">

     <a href="?root=performance"><img src="../../css/images/performance-icon-disabled.png" alt="" height="100"><p class="caption">Performances</p></a>
  </div>
</div>
     
</div>
