<!-- Start Slider -->
  <div class="row ccontainer">
    <div id="text-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#text-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#text-carousel" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="row">
        <div class="container">
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-content">
                <div>
                  <div class="col-sm-6"><img src="css/images/slider_image.jpg" class="img-responsive"></div>
                  <div class="col-sm-6">
                    <p>This site is your single source to the services and solutions provided by the Oracle Cloud Hubs.  The Cloud Hubs are special facilities where our solution engineers come together to design and build innovative industry and customer Cloud solutions.  The Cloud Hubs foster an environment of collaboration & innovation, providing a range of solution engineering services to Oracle Sales and our customers in order to accelerate our Cloud business.  Now we can out-deliver our competitors with impactful, cutting-edge, full-stack Cloud POVs sure to ‘wow’ our customers</p>
                    
                    <p> - Hamza Jahangir, VP, Solution Engineering – Oracle Cloud Hubs </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-content">
                <div>
                  <div class="col-sm-6"><img src="css/images/slider_image.jpg" class="img-responsive"></div>
                  <div class="col-sm-6">
                     <p>This site is your single source to the services and solutions provided by the Oracle Cloud Hubs.  The Cloud Hubs are special facilities where our solution engineers come together to design and build innovative industry and customer Cloud solutions.  The Cloud Hubs foster an environment of collaboration & innovation, providing a range of solution engineering services to Oracle Sales and our customers in order to accelerate our Cloud business.  Now we can out-deliver our competitors with impactful, cutting-edge, full-stack Cloud POVs sure to ‘wow’ our customers</p>
                    
                    <p> - Hamza Jahangir, VP, Solution Engineering – Oracle Cloud Hubs </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slider -->
  <!-- Start Icons -->
  <div class="row icons">
    <div class="icon-container">
      <div class="col-xs-6 col-sm-3 text-center icon"><a href="?root=profileslist"><img src="css/images/se_faces.png" class=""><br>
        SE Faces</a></div>
      <div class="col-xs-6 col-sm-3 text-center icon"><a href="?root=catalogs"><img src="css/images/catalog.png" class=""><br>
        SEaaS Catalog</a></div>
      <div class="col-xs-6 col-sm-3 text-center icon"><a href="?root=assets"><img src="css/images/assets.png" class=""><br>
        Assets</a></div>
      <div class="col-xs-6 col-sm-3 text-center icon"><a href="?root=performance"><img src="css/images/performance.png" class=""><br>
        Performance</a></div>
    </div>
  </div>
  <!-- End Icons -->
  <!-- Start Buttons -->
  <div class="row">
    <div class="container">
      <div class="col-lg-4">
        <div class="col-sm-12 darkblue">
          <div class="col-sm-12">
            <h2>WHO WE ARE </h2>
          </div>
          <div class="col-xs-3"><img src="css/images/who_we_are.png" class="img-responsive" align="left"></div>
          <div class="col-xs-9">
            <p>We are a combination of cloud developers and experience Oracle SEs who stay on top of the latest Oracle Cloud technologies, and engage using our SEaaS Catalog services, cloud engagement frameworks and methodologies.
              
              <br>
            </p>
            <span class="pull-right more"><a href="#">Know More <span class="glyphicon glyphicon-chevron-right"></span></a>
            </span>
          </div>
        </div>
        <div class="col-sm-12 nopadding get_to_know">
          <div class="col-xs-12 bottom-column text-right more"><a href="#">Get to know our Solution Engineers <span class="glyphicon glyphicon-chevron-right"></span></a></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-sm-12 how_to_engage nopadding">
          <div class="col-sm-8 nopadding blackBg">
            <h2>HOW TO ENGAGE</h2>
            <p>Use SCRM to request SE services and resources.</p>
            <p><a href="mailto:oraclecloudhubs_us@oracle.com">oraclecloudhubs_us@oracle.com</a></p>
            <p><br>
            </p>
            <p><a href="#">Hamza Jahangir</a><br>
              <a href="#">Oracle Cloud Hubs</a><br>
              <br>
              <a href="#">Bob Stanoch</a><br>
              <a href="https://otube.oracle.com/media/Austin+Cloud+Hub+Overview/0_2a91toco/-1" target="_blank">Austin Cloud Hub</a><br>
              <br>
              <a href="#">Jack Kingsley</a><br>
              <a href="#">Bangalore Cloud Hub</a><br>
              <br>
              <a href="#">Girish Venkat</a><br>
              <a href="#">Reston Cloud Hub</a></p>
          </div>
          <div class="col-sm-12 bottom-column1"><span class="more"><a href="#">Know More <span class="glyphicon glyphicon-chevron-right"></span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-sm-12 cloud_hubs nopadding">
          <div class="col-sm-6 nopadding blackBg pull-right">
            <h2>Cloud Hubs</h2>
            <a href="#">Austin, Texas</a><br>
            <a href="#">Bangalore, India</a><br>
            <a href="#">Reston, Virginia</a><br>
            <br>
          </div>
        </div>
        <div class="col-sm-12 nopadding text-center deliver"><span class="orangetext"><p align="center"><img src="../../css/images/orange_cloud.png" class="img-responsive" style="max-width:200px;"></p>Coming in Q2: A Cloud Hub Industry Solutions Showcase</span></div>
      </div>
    </div>
  </div>
