<!-- Start Heading -->

<div class="row text-center team">
  <h1><span class="borderBottom">Mentorship Program</span></h1>
</div>
<div class="container container_services">
  <div class="row">
    <p>
      The Cloud Solution Mentor is an online community connects newly hired solutions engineers with technical mentors to gain
      the right skills for accelerated learning. The new, self-service mentor community leverages the Oracle Cloud Solution
      website which allows members to connect, share and create various cloud focused activities. Technical mentors have
      an opportunity to give back - sharing expertise and experiences with new employees in an informal, virtual setting.
      Mentees gain access to vast resources enabling accelerated learning supporting innovative and efficient project completion.
      Ultimately, the Solution Engineering Mentor Community empowers the entire ecosystem of Sales Consulting to provide
      the right cloud solution for Oracle customers.
    </p>
  </div>
  <br>
  <div class="row">
    <h4 style="font-weight: bold">Manage Your Mentorship</h4>
  </div>
  <div class="row">
    <p>
      The mentorship within the Solution Engineering Mentor Community is defined by the parties involved. Mentees should communicate
      their learning objectives, while Technical Mentors should volunteer how they can best help. Together, determine you
      will connect and the best method for knowledge transfer and building technical skills.
    </p>
  </div>
  <br>
  <div class="row">
    <p>Join the community today by creating your profile. </p>
  </div>
  <br>
  <div class="row">
    <p>How to get started</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;A. <a href="css/mentor/mentorcloud_101.mp4">The Cloud Solution Mentor Community Function Demo</a>      </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;B. <a href="css/mentor/Mentor Cloud Apps.pptx">The Cloud Solution Mentor Community Function Deck</a>      </p>
  </div>
</div>