<!-- Start Heading -->

<div class="row text-center team">
  <h1><span class="borderBottom">The Cloud Solution Mentor Community</span></h1>
  </div>
  <div class="row mentorship">
    <div class="container">
  <div class="col-xs-12">
    <p>
      The Cloud Solution Mentor is an online community connects newly hired solutions engineers with technical mentors to gain the right skills for accelerated learning.  The new, self-service mentor community leverages the Oracle Cloud Solution website which allows members to connect, share and create various cloud focused activities.  Technical mentors have an opportunity to give back - sharing expertise and experiences with new employees in an informal, virtual setting.  Mentees gain access to vast resources enabling accelerated learning supporting innovative and efficient project completion.  Ultimately, the Solution Engineering Mentor Community empowers the entire ecosystem of Sales Consulting to provide the right cloud solution for Oracle customers.
    </p>
	<h3>Manage Your Mentorship</h3>
	  <p>
      The mentorship within the Solution Engineering Mentor Community is defined by the parties involved.  Mentees should communicate their learning objectives, while Technical Mentors should volunteer how they can best help.  Together, determine you will connect and the best method for knowledge transfer and building technical skills.
    </p>
	  <p>Join the community today by creating your profile. </p>
	  <h3>How to get started</h3>
      <div class="col-xs-12 nopadding mentorship">
      <div class="col-lg-5 sliderButtons"> <a class="watchvdo" href="#" data-bind="click:openModal">The Cloud Solution Mentor Community Function Demo<i class="fa fa-play-circle pull-right" aria-hidden="true"></i></a></div>
      <div class="col-lg-5 sliderButtons"> <a class="watchvdo" href="css/mentor/MentorCloudApps.pptx" target="_blank">The Cloud Solution Mentor Community Function Deck<i class="fa fa-download pull-right" aria-hidden="true"></i></a></div>
      </div>
  </div>
</div>
</div>
<div style="display:none" id="modalDialog1" title="Mentor Cloud Tutorial" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'width: 80%;'}}">
     <div class="oj-dialog-body">
       <video width="100%" height="auto" controls  poster="">
	<source src="css/mentor/mentorcloud_101.mp4" type="video/mp4">
	<source src="css/mentor/mentorcloud_101.ogg" type="video/ogg">
	<source src="css/mentor/mentorcloud_101.webm" type="video/webm">
	Your browser does not support the video tag or the file format of this video. 
</video>
     </div>
    
  </div>
