<!-- End Filter -->
<!-- Start Heading -->
<div class="row text-center team"><img src="css/images/meettheteam.png" class="img-responsive">
  <h1><span class="borderBottom">Our People</span></h1>
  
</div>
<!-- End Heading -->

<!-- Start Faces -->
<div class="row faces">
  <div class="container">
    <ul id="listview" aria-label="list using array" data-bind="ojComponent: { 
            component: 'ojListView', data: dataSource, selection: currentItemId,
            item: {template: 'server_template'}, 
            selectionMode: 'single',
            optionChange: logSelected
        }">
    </ul>
  </div>
  <div>
    <button data-bind="click:loadFirstPage">FIRST</button>
    <button data-bind="click:loadPrevPage">PREV</button>
    <button data-bind="click:loadNextPage">NEXT</button>
  </div>
</div>

<!-- Filter -->
<script type="text/html" id="server_template">
  <li data-bind="attr: {id: $data['uuid']}">
    <div class="col-sm-4 col-md-3 col-lg-2 face">
	
      <div class="col-sm-12 nopadding mainImage"> <img data-bind="attr: {src: icon, alt: name}"></img>
      </div>
      <div class="col-sm-12 nopadding name"><span class="header bold" data-bind="text:name"></span></div>
      <div class="col-sm-12 nopadding title"><span data-bind="text: title"></span></div>
      <div class="col-sm-12 nopadding social"><span data-bind="if: work_phone"><a data-bind="attr:{href:'tel:'+work_phone, title:work_phone}"><img src="css/images/phone_icon_orange.png"></a></span><span data-bind="if: work_email"><a data-bind="attr:{href:'mailto:'+work_email,title:work_email}"><img src="css/images/email_icon.png"></a></span></div>
    </div>
  </li>

</script>

<button class="fixedButton" id="fixb" data-bind="click:openthefilterpanel"><img src="css/images/FILTER1.svg" class="img-responsive"></button>
<div id="slider" class="transition">
  <div id="sliderContent"> <a class="text-right" id="close" data-bind="click:closethefilterpanel">X</a> <br>
    <div class="right-inner-addon"> <i class="glyphicon glyphicon-search"></i> </div>
    <input id="inputSearch" placeholder="Search faces..." data-bind="ojComponent: {
            component: 'ojInputSearch',
            update: searchhandler,
            value:searchtext,
            rootAttributes: {class:'form-control'}}">
  </div>
  <br>
  <p style="font-weight: bolder">Filter by Location</p>
  <div data-bind="foreach: hubslist">
    <div class="checkbox">
      <label><input type="checkbox" data-bind="value: $data" onchange="filteredhubs(this)"></label>
      <span data-bind="text: $data"></span>
    </div>
  </div><br>
  <p style="font-weight: bolder">Filter by Pillar</p>
  <div data-bind="foreach: listofpillers">
    <div class="checkbox">
      <label><input type="checkbox" data-bind="value: $data" onchange="filteredpillars(this)"></label>
      <span data-bind="text: $data"></span>
    </div>
  </div>
  <button id="apply" class="apply" data-bind="click:searchhandler">Apply</button>

</div>