/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.oj-listview-item {
	background: none;
}
.oj-inputsearch {
	max-width: 100%;
}
.oj-inputsearch-choice {
	background-color: transparent;
	border: medium none;
}
.oj-listview-item.oj-hover {
	background-color: transparent;
	border: none;
}
ul.oj-listview-element:not(.oj-listview-card-layout) .oj-listview-item.oj-hover + li.oj-listview-item {
	background-color: transparent;
	border: none;
}
.oj-listview-item {
	border: none;
	padding: 0px;
}
.oj-listview {
	border: none;
}
.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item-label {
	font-size: 19px;
	font-family: Arial;
}
.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item.oj-selected a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
	color: #ff8d14;
}
.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-selected) a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
	color: #ff8d14;
}
.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item {
	border-bottom: none;
}
.oj-navigationlist-horizontal .oj-navigationlist-item.oj-selected {
	border-bottom: 7px solid #ff8d14
}
.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item .oj-selected {
	border-bottom: 7px solid #ff8d14
}
.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-selected) {
/*border-bottom: 7px solid #ff8d14*/
}
.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item {
	margin-left: 20px;
	margin-right: 20px;
}
.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item:last-child {
	margin-right: 0px;
}
.oj-navigationlist-item {
	margin-top: 10px;
	margin-bottom: 10px;
}
.oj-navigationlist-item.oj-selected {
	border-color: #f29111 !important
}
.oj-contrast-marker a.oj-navigationlist-item-content .oj-navigationlist-item-label {
	color: #fff
}
.oj-button.oj-default.oj-button-half-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon {
	color: #939393
}
.oj-button.oj-hover.oj-button-half-chrome .oj-button-icon {
	color: #424243;
}
.oj-button.oj-selected.oj-hover.oj-button-half-chrome .oj-button-icon {
	color: #424243;
}
.oj-button-jqui.oj-hover.oj-button-half-chrome, .oj-button.oj-hover.oj-button-half-chrome .oj-button-button {
	color: #fff !important;
	background-color: transparent;
	border: none !important;
	box-shadow: none;
}
.oj-contrast-marker .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
	background-color: transparent;
	color: #f29111
}
.oj-contrast-marker .oj-selected > a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
	color: #f29111
}
.oj-contrast-marker .oj-navigationlist-item.oj-hover:not(.oj-selected) {
	background-color: transparent;
	color: #f29111
}
.oj-navigationlist-item.oj-hover:not(.oj-selected) {
	background-color: #ebeced;
	border-color: #f29111;
}

.oj-web-applayout-offcanvas-icon {
    font-size: 35px;
}
