@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'ArialMT';
	src: url('fonts/ArialMT.eot?#iefix') format('embedded-opentype'), url('fonts/ArialMT.woff') format('woff'), url('fonts/ArialMT.ttf') format('truetype'), url('fonts/ArialMT.svg#ArialMT') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	outline: none;
}
a, button, a:focus, button:focus {
	outline: none;
}
img[src*=".svg"] {
	width: 100%;
}
body {
	font-family: 'ArialMT';
	font-size: 14px;
	background-image: none;
}
.nopadding {
	padding: 0px;
}
.container {
	/*width: 1366px;*/
	width: 1411px;
}
.icon-container {
	width: 900px;
	margin: 0 auto;
}
.orangeBg {
	background: #f29111;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-family: ArialMT;
	font-size: 16px;
	line-height: 34px;
}
.orangeBg input {
	background: #f5f5f5 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	color: #777879;
	min-width: 252px;
}
.orangeBg a:link, .orangeBg a:visited {
	color: #fff;
	text-decoration: none;
}
.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
	color: #4e5052
}
.navbar-inverse {
	background-color: #fff;
	border-color: none;
	min-height: auto;
	-webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.35);
	position: relative;
	z-index: 1000;
	font-family: ArialMT;
	font-size: 18px;
}
.mainNav ul {
	padding: 0px;
}
.mainNav li {
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	border-bottom: 3px solid #3e5869;
}
.mainNav li:hover {
	background: #f29111
}
.mainNav li.active {
	background: #f29111
}
.mainNav li a:link, .mainNav li a:visited {
	color: #fff;
	text-decoration: none
}
.mainNav li a:hover, .mainNav li a:visited:hover {
	color: #fff;
	text-decoration: none
}
.togglemenu {
	padding-top: 25px;
}
.oj-fwk-icon-hamburger::before, .oj-web-applayout-offcanvas-icon::before {
	content: url(images/hamburger-menu.png);
}
.clearfix {
	display: block;
	clear: both
}
#navDrawer {
	z-index: 2000
}
.navbar {
	font-size: 19px;
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}
.navbar-nav > li {
	margin-left: 10px;
}
.navbar-nav > li > a {
	padding: 10px 20px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #444444
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background: transparent;
	color: #ff8d14;
	border-bottom: 7px solid #ff8d14
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: #ff8d14;
	border-bottom: 7px solid #ff8d14
}
.navbar a:link, .navbar a:visited {
	color: #fff
}
.navbar a:hover, .navbar a:visited:hover {
	color: #fff
}
.navbar li.active a:link {
	border-bottom: 7px solid #ff8d14
}
.logo {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 0px;
	max-width: 470px
}
.mainNav {
	padding-top: 2px;
}
.closebutton {
	border: none;
	background: transparent;
	color: #fff;
}
.contact-link {
	padding-right: 25px;
}
.carousel-content {
	color: black;
	display: flex;
	align-items: center;
}
#text-carousel {
	width: 100%;
	height: auto;
	padding: 50px;
	background: rgba(0, 0, 0, 0) url("images/clouds_bg.jpg") no-repeat scroll 0 0 / cover;
	font-size: 18px;
	font-style: italic;
	padding-bottom: 20px;
}
.carousel-indicators .active {
	background-color: #aabcc2;
	border: medium none;
	height: 16px;
	margin: 0;
	width: 16px;
}
.carousel-indicators li {
	background-color: #baced5;
	border: medium none;
	height: 16px;
	margin: 0;
	width: 16px;
}
.carousel-indicators {
	bottom: 0;
}
#text-carousel p {
	margin-bottom: 20px;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
.sliderInner {
	max-width: 1200px;
	margin: 0 auto
}
.icons {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	font-family: ArialMT;
}
.icons img {
	display: inline-block;
	margin-bottom: 5px;
}
.icons a:link, .icons a:visited {
	color: #444444;
}
.icons a:hover, .icons a:visited:hover {
	color: #f29111;
}
.darkblue {
	color: #fff;
	margin-bottom: 30px;
	background: #324b5c;
	overflow: hidden;
}
.darkblueleft {
	background: #324b5c url(images/who_we_are_left.jpg) no-repeat scroll 0 0;
	background-size: cover;
}
.whoweare {
	padding-left: 12px;
	padding-right: 9px;
}
.whatwedo {
	background: #f29111;
	color: #fff;
	padding-bottom: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.whatwedo h2 {
	margin-bottom: 15px;
	font-size: 22px;
	margin-top: 15px;
}
.whatwedolist {
	margin-left: 0px;
	padding: 0px;
}
ul.whatwedolist {
	margin-top: 10px;
}
.whatwedolist li {
	margin-bottom: 15px;
	list-style: none;
}
.whatwedolist li i {
	font-size: 12px;
	margin-right: 5px;
}
.darkblue h2 {
	margin-bottom: 5px;
	font-size: 22px;
	margin-top: 15px;
}
.glyphicon-chevron-right {
	color: #f29111;
	position: relative;
	top: 0px;
	vertical-align: middle;
}
.get_to_know {
	background: rgba(0, 0, 0, 0) url("images/get_to_know_bg.jpg") no-repeat scroll 0 0;
	height: 234px;
	position: relative;
	background-size: cover;
	background-position: 50%;
}
.bottom-column {
	background: rgba(0, 0, 0, 0.76) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	vertical-align: bottom;
}
.bottom-column1 {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}
.how_to_engage {
	background: url(images/how_to_engage.jpg) no-repeat;
	height: 469px;
	color: #fff;
	background-size: cover;
	background-position: 50%;
	margin-bottom: 30px;
}
.blackBg {
	background: rgba(0, 0, 0, 0.76) none repeat scroll 0 0;
	height: 100%;
	padding: 15px;
}
.pinkBg {
	background: #942645;
	height: 100%;
	padding: 15px;
}
.cloud_hubs ul {
	padding-left: 0px;
}
.cloud_hubs li {
	list-style: none;
	margin-bottom: 10px;
}
.cloud_hubs li i {
	font-size: 12px;
	margin-right: 5px;
}
.how_to_engage h2 {
	margin-top: 0px;
	font-size: 22px;
	font-weight: bold;
}
.how_to_engage a:link, .how_to_engage a:visited {
	color: #fff;
	text-decoration: none
}
.how_to_engage a:hover, .how_to_engage a:visited:hover {
	color: #f29111;
	text-decoration: underline
}
.cloud_hubs {
	background: rgba(0, 0, 0, 0.76) url(images/cloud_hubs.jpg) no-repeat;
	color: #fff;
	margin-bottom: 30px;
	font-size: 14px;
	background-size: cover;
	background-position: 50%;
}
.cloud_hubs:before {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.76);
}
.cloud_hubs_left {
	padding-top: 15px;
}
.cloud_hubs h2 {
	margin-top: 0px;
	font-size: 18px;
	font-weight: bold;
}
.cloud_hubs a:link, .cloud_hubs a:visited {
	color: #fff;
	text-decoration: none;
}
.cloud_hubs a:hover, .cloud_hubs a:visited:hover {
	color: #f29111;
	text-decoration: none
}
.more {
	font-size: 18px;
}
.more a:link, .more a:visited {
	color: #fff;
	text-decoration: none;
}
.more a:hover, .more a:visited:hover {
	color: #f29111;
	text-decoration: none
}
.deliver {
	background: #00758F;
	color: rgb(255, 255, 255);
	min-height: 215px;
	text-align: center;
	padding: 10px 0px;
	text-align: left;
	font-size: 14px;
}
.deliverimg {
	padding-top: 50px;
}
.deliverimg img {
	display: inline-block;
}
.deliver h2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 0;
}
footer {
	font-size: 12px;
	margin-top: 60px;
	text-align: left;
	background: #324b5c none repeat scroll 0 0;
	padding: 20px;
	color: #fff;
}
.team {
	padding-top: 20px;
}
.team h1 {
	font-family: ArialMT;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 20px;
}
.team img {
	display: inline-block
}
.team input {
	background: transparent;
	border: none;
	border-radius: 0;
	color: #777879;
	min-width: 252px;
	font-size: 19px;
}
.borderBottom {
	border-bottom: 4px solid #f29111
}
.faces {
	margin-top: 40px;
	text-align: center;
	min-height: 420px;
}
.mainImage img {
	width: 125px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 5px solid #f29111;
	height: 125px;
	cursor: pointer;
}
.mainImage img:hover {
	opacity: 0.6;
}
.hinttext {
	color: darkolivegreen;
	font-weight: bold
}
.face {
	border-right: 1px solid #d3d3d3;
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 395px;
	border-bottom: 1px solid #d3d3d3;
}
.oj-listview-item:nth-child(6n) .face {
	border-right: none;
}
.oj-tabs-tab, .oj-tabs-tab-content {
	white-space: normal !important
}
.name {
	font-family: ArialMT;
	font-weight: bold;
	color: #f39220;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 24px;
}
.title {
	font-family: ArialMT;
	color: #444444;
	font-size: 15px;
	margin-bottom: 10px;
}
.social img {
	margin-left: 5px;
	margin-right: 5px;
	max-height: 29px;
}
.fixedButton {
	position: fixed;
	top: 30%;
	left: 0px;
	z-index: 1001;
	background: #324b5c;
	padding: 40px 10px;
	border: none;
	border-radius: 0px 5px 5px 0px;
}
.fixedButton img {
	width: 30px
}
#slider {
	background: #324b5c;
	height: auto;
	width: 300px;
	position: fixed;
	left: -500px;
	z-index: 1002;
	padding: 20px;
	top: 10%;
	border-radius: 0px 10px 10px 0px;
	color: #fff;
	font-size: 14px;
}
#slider .checkbox {
	margin-bottom: 5px;
	margin-top: 5px;
}
#slider .checkbox label {
	min-height: 15px;
}
#slider p {
	margin-bottom: 5px;
}
.slidersearch {
	margin-bottom: 20px !important;
	margin-top: 12px;
}
.img-rounded {
	border-radius: 50%;
}
#close {
	color: #fff;
	float: right;
	font-family: ArialMT;
	font-size: 17px;
	text-decoration: none;
	cursor: pointer;
}
.open {
	left: 0px !important;
}
.transition {
	-webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
#drawerToggleButton {
	border: none;
	cursor: pointer;
}
#slider .apply {
	background: #dfe4e7;
	color: #324c5d;
	text-transform: uppercase;
	border: none;
	padding: 5px 20px;
	margin-top: 20px;
}
.apply {
	background: #dfe4e7;
	color: #324c5d;
	text-transform: uppercase;
	border: none;
	padding: 10px 30px;
	margin-top: 20px;
}
#navDrawer {
	background: #324b5c;
	font-size: 16px;
	position: fixed;
}
.profileblackBg {
	background: #1d2730;
	color: #fff;
	padding: 10px;
}
.profileblackBg a:link, .profileblackBg a:visited {
	color: #fff;
	text-decoration: underline;
}
.profileblackBg a:hover, .profileblackBg a:visited:hover {
	color: #f29111;
	text-decoration: underline;
}
.blueBg {
	background: #324b5c url(images/test.jpg) no-repeat;
	color: #fff;
	padding: 20px;
	min-height: 193px;
	background-size: cover;
	font-weight: bold;
}
.oj-tabs-gen-div {
	background: #efefef;
	text-align: center;
	padding: 30px 0 0;
	font-size: 16px;
	opacity: 0.4;
	min-height: 90px;
	position: relative;
	outline: none;
}
.oj-tabs a {
	outline: none;
}
li.oj-selected .oj-tabs-gen-div {
	opacity: 1;
	background: #efefef;
}
.oj-select {
	font-size: inherit
}
.margintop30 {
	margin-top: 30px;
}
.nav-tabs {
	border-bottom: none;
}
.arrowdown {
	width: 100%;
	bottom: 0;
	position: absolute;
	color: #fff;
	left: 0px;
}
.yellowtab {
	background: #f29011 none repeat scroll 0 0;
}
.pinktab {
	background: #942545 none repeat scroll 0 0;
}
.bluetab {
	background: #00758f none repeat scroll 0 0;
}
.greentab {
	background: #3a9140 none repeat scroll 0 0;
}
.oj-tabs a:link, .oj-tabs a:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.oj-tabs a:hover, .oj-tabs a:visited:hover {
	text-decoration: none;
	color: #f29011;
	font-weight: bold;
}
.profileleft {
	height: 145px;
}
.profileImage {
	padding-top: 15px;
	position: relative;
}
.profileImage img {
	width: 125px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 5px solid #c8c8c8;
	height: 125px;
}
.profileThumb {
	display: block;
	width: 100%;
	height: auto;
}
.overlay {
	background-color: #000;
	border-radius: 75px;
	bottom: 0;
	height: 118px;
	left: 4px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 20px;
	transition: all 0.5s ease 0s;
	width: 117px;
}
.profileImage:hover .overlay {
	opacity: 0.6;
}
.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	font-size: 14px;
	text-align: center;
}
.text a {
	color: #fff;
	text-decoration: none;
}
.text .glyphicon {
	font-size: 19px;
}
.profileImage button {
	border: none;
	padding: 0px;
	background: transparent;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
	margin-bottom: 0;
	padding: 0 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
	background-color: rgba(0, 0, 0, 0);
	bottom: 0;
	color: #d3d3d3;
	font-size: 70px;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 0;
	width: 6%;
}
.carousel-control:focus, .carousel-control:hover {
	color: #c0c0c0
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
.profileDetails {
	line-height: 21px;
	position: relative;
	top: 50%;
}
.profileName {
	font-size: 24px;
}
.profileTitle {
	font-size: 14px;
}
.profileSection {
	border: 1px solid #c8c8c8;
	margin-bottom: 30px;
}
.greyBg {
	background: #efefef;
	padding: 10px;
}
.profileSummary {
	padding: 10px;
}
.profileSummary ul {
	margin: 0;
	padding: 0
}
.profileSummary li {
	list-style: none;
	margin-bottom: 10px;
}
.profileSummaryh {
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
}
.profilePhone {
	font-size: 14px;
}
.profileAddress {
	font-size: 14px;
}
.orangeTags {
	display: inline-block;
	padding: .2em .6em .3em;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	vertical-align: baseline;
	border-radius: .25em;
	background: #f29111;
	margin: 5px;
}
.shareprofile {
	background: #324b5c;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}
.panel-title a {
	font-weight: bold;
}
.pastProjects {
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 20px;
	margin-top: 20px;
}
.pastProjects:first-child {
	margin-top: 0px;
}
.pastProjects:last-child {
	border: none;
}
.useruploads img {
	border: 8px solid #e6e4e4
}
.btn-info {
	background: #dadada none repeat scroll 0 0;
	border: 1px solid #ada9a9;
	color: #444444;
}
.btn-info.focus, .btn-info:focus, .btn-info:hover, .btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info.focus:active, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
	background: #ada9a9 none repeat scroll 0 0;
	border: 1px solid #ada9a9;
	color: #fff;
}
.footerheading {
	color: #fff;
	font-size: 21px;
	font-weight: bold;
}
.footermenu ul {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.footermenu li {
	display: inline;
	list-style: none;
	font-size: 14px;
	margin-right: 20px;
	border-right: 1px solid #fff;
	padding-right: 20px
}
.footermenu li:last-child {
	border-right: none;
}
.footermenu a {
	color: #fff;
}
.addnew {
	margin-bottom: 20px;
}
.panel-heading {
	overflow: hidden;
}
.demo-filmstrip-item {
	box-sizing: border-box;
	width: 230px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.demo-arrow-controls {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.grayTags:after {
	content: ", ";
	color: #aaa;
}
.grayTags:last-child:after {
	content: "";
}
.footer-social ul {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.footer-social li {
	list-style: none;
	font-size: 42px !important;
	display: inline;
	margin-right: 10px;
}
.footer-social li a:link, .footer-social li a:visited {
	color: #fff;
}
.footer-social li a:hover, .footer-social li a:visited:hover {
	color: #7f8081;
}
#editlocation .input-group button {
	background: transparent;
	border: none;
}
.cloudhubs {
	background: #f9f8f8;
	margin-bottom: 20px;
	padding-bottom: 15px;
	min-height: 650px;
	border: 1px solid #d2d2d2
}
.cloudhubs_shared {
	background: #f9f8f8;
	margin-bottom: 20px;
	padding-bottom: 15px;
	min-height: auto;
	border: 1px solid #d2d2d2
}
.hubName_austin {
	color: #fff;
	font-size: 22px;
	display: block;
	width: 100%;
	height: 109px;
	background: url(images/austin-hub-bg.svg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-left: 15px;
	font-weight: bold;
}
.hubName_blore {
	color: #fff;
	font-size: 22px;
	display: block;
	width: 100%;
	height: 109px;
	background: url(images/bangalore-hub-bg.svg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-left: 15px;
	font-weight: bold;
}
.hubName_reston {
	color: #fff;
	font-size: 22px;
	display: block;
	width: 100%;
	height: 109px;
	background: url(images/reston-hub-bg.svg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-left: 15px;
	font-weight: bold;
}
.hubName_arch {
	background: #324B5C ;
color: rgb(255, 255, 255);
display: block;
font-size: 22px;
font-weight: bold;
height: auto;
padding-bottom: 10px;
padding-left: 15px;
padding-top: 10px;
width: 100%;
}
.hubdesc {
	font-size: 16px;
	padding-top: 10px;
	font-weight: bold;
}
.hubdesc a:link, .hubdesc a:visited {
	color: #000;
	font-weight: bold;
}
.hubdesc a:hover, .hubdesc a:visited:hover {
	color: #F29111;
	font-weight: bold;
}
.watchvdo {
	background: rgb(147, 150, 153) none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 36px;
	margin-top: 30px;
	padding: 6px 15px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	font-weight: bold;
	display: block
}
.hubdesc a.watchvdo:link, .hubdesc a.watchvdo:visited {
	text-decoration: none;
	color: #fff;
}
.hubdesc .watchvdo:hover {
	background: #324b5c
}
.sliderButtons .watchvdo {
	background: #6d8c9e;
	border: medium none;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 36px;
	margin-top: 30px;
	padding: 6px 15px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	font-weight: bold;
	display: block;
	font-style: normal;
}
.sliderButtons .watchvdo .fa-play-circle {
	font-size: 36px;
	color: #d6d7d8
}
.sliderButtons .watchvdo .fa-download {
	font-size: 32px;
	color: #d6d7d8
}
.sliderButtons .watchvdo {
	text-decoration: none
}
.sliderButtons .watchvdo:hover {
	background: #324b5c
}
.watchvdo .fa-chevron-circle-right {
	font-size: 36px;
	color: #d6d7d8
}
.hubNameicon {
	margin-right: 10px;
}
.Hborder {
	border-bottom: 1px solid #939699;
	margin-top: 25px;
	margin-bottom: 25px;
}
.Hborder1 {
	
	margin-top: 10px;
	margin-bottom: 10px;
}
.imgcenter {
	text-decoration: underline;
}
.imgcenter img {
	display: inline-block
}
.darkgraybg {
	background: #939699;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
}
.teamdetails {
	font-size: 14px;
}
.red {
	color: #ff0000
}
.popupclose {
	cursor: pointer
}
.rating {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}
.leftImage {
	font-size: 14px;
}
.leftImage img {
	display: inline-block;
}
.servicesdesc {
	background: #f9f9f9;
	border: 1px solid #ccd4d7;
	padding: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.servicestitle {
	background: #f29111;
	color: #fff;
	padding: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.servicessection {
	margin-top: 20px;
}
.servicestitle2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}
.servicesgrey {
	padding: 10px;
	color: #fff;
	background: #c2c2c2
}
.servicesicons {
	padding: 15px;
	border: 3px solid #ccd4d7;
	margin-top: 20px;
}
.servicesblocks1, .servicesblocks2 {
	margin-top: 20px;
}
.servicesblocksinner {
	background: #00758f;
	color: #fff;
	height: 150px;
	border: 1px solid #fff;
	font-weight: bold;
	position: relative;
}
.servicesblocksinner:nth-child(4n-7) {  /* or 4n+1 */
	background: #00758f
}
.servicesblocksinner:nth-child(4n+2) {  /* or 4n+1 */
	background: #3a913f
}
.servicesblocksinner:nth-child(4n+3) {  /* or 4n+1 */
	background: #942645
}
.servicesblocksinner:nth-child(4n+4) {  /* or 4n+1 */
	background: #f29111
}
.centerelement {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	text-align: center;
}
.servicesicons {
	text-align: center;
	font-weight: bold
}
.servicesblocks2 .servicesblocksinner {
	height: auto;
	height: 60px
}
.servicesblocks2 .servicesblocksinner {
	height: 60px;
	background: #b3ada5;
}
.seserviceblock {
	background: #324b5c;
	color: #fff;
	font-weight: bold;
	padding: 14px;
	border: 1px solid #fff;
	text-align: center;
	font-size: 14px;
	height: 144px;
}
.seservice {
	margin-top: 20px;
}
.seserviceblock.greybg {
	color: #fff;
	background: #b3ada5
}
.largetick {
	position: absolute;
	top: 5px;
	left: 5px;
}
.colorsspecs {
	margin-top: 20px;
	font-weight: bold;
	font-size: 14px;
}
.ca {
	color: #324b5c
}
.ia {
	color: #b3ada5
}
.removeimage {
	background: rgb(255, 255, 255) none repeat scroll 0 0;
	border-radius: 50%;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	vertical-align: middle;
	width: 30px;
	border: none;
	z-index: 1000;
}
.removementor {
	background: rgb(237, 28, 36) none repeat scroll 0 0;
	border: 1px lightgray solid;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 15px;
	height: 25px;
	position: absolute;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 25px;
	z-index: 1000;
	line-height: 25px;
	padding: 0px;
}
.founddesc {
	margin-top: 20px;
	background: #f29111;
	color: #fff;
	overflow: hidden;
}
.founddescright {
	padding: 30px;
}
.howengaged {
	margin-top: 20px;
}
.howengagedtitle {
	background: #324B5C;
	color: #fff;
	padding: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.seservice h4 {
	font-weight: bold
}
.assetsrow {
	margin-top: 20px;
	padding: 20px;
	background: #f1f1f1;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.row-centered {
	margin: 0 auto;
	width: 75%
}
.meetteam a {
	cursor: pointer;
}
.meetteam a:link, .meetteam a:visited {
	color: rgb(51, 51, 51)
}
.meetteam a:hover, .meetteam a:visited:hover {
	color: #939699
}
.mentors {
	height: 310px;
	overflow-y: scroll
}
.mentors img {
	border: 2px solid rgb(239, 239, 239);
	height: auto;
	width: 80px;
	max-height: 80px;
	min-height: 80px;
}
.mentors button {
	background: rgb(242, 145, 17) none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	font-size: 25px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	padding: 0;
	vertical-align: middle;
	width: 30px;
}
#menteereq .mentors button {
	font-size: 17px;
}
.mentors button img {
	height: 100%;
	width: 100%;
	border: none;
}
.selectedmentor img {
	border: 2px solid rgb(239, 239, 239);
	display: inline-block;
	height: auto;
	margin-bottom: 10px;
	max-height: 90px;
	width: 90px;
	min-height: 90px;
}
.mentors h4, .selectedmentor h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}
.mentorrow {
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(239, 239, 239);
	min-height: 90px;
	padding-bottom: 10px;
}
.menteeblock {
	margin-bottom: 10px;
}
.mentees img {
	width: 90px;
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
	border: 2px solid rgb(239, 239, 239);
	max-height: 90px;
	min-height: 90px;
}
#loginbutton {
	display: none;
}
.modal-header {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #F0F0F0
}
.modal-header h4 {
	font-size: 1.42857rem
}
.modal-content {
	background: #f9f9f9;
	border-radius: none;
}
#editskills .inputborder input {
	border: 1px solid rgb(200, 200, 200)
}
.oj-radiocheckbox-label-text {
	font-size: 14px;
}
.tags {
	margin: 0px 10px;
	display: inline-block
}
#tagcloud1 {
	padding: 5px;
}
/*rating*/
div.stars {
	display: inline-block;
}
input.star {
	display: none;
}
label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
}
input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}
input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before {
	color: #F62;
}
label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}
label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}
.skilltags {
	word-wrap: break-word;
	text-align: center;
}
.fa-close {
	cursor: pointer
}
.suggestedcolumn {
	width: 100%
}
#menteereqalert a {
	font-weight: bold;
	color: rgb(138, 109, 59)
}
.asset_c {
	margin-bottom: 20px;
}

.mentorship p{
	margin-bottom:17px;}
	
.mentorship .sliderButtons .watchvdo{
	margin-top:10px;
	font-size:15px;}



.smalltitle{
	font-size:14px;}		

@media (min-width: 1500px) {
.container {
	width: 1411px;
}
.container_services {
	width: 1131px
}
.menteeblock {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
}

@media (min-width: 1200px) and (max-width: 1499px) {
.container {
	width: 1200px;
}
.container_services {
	width: 900px
}
}

@media (max-width: 1199px) {
.container {
	width: auto;
}
.container_services {
	width: auto
}
}

@media (max-width: 1024px) {
.logo {
	padding-bottom: 20px;
	padding-top: 20px;
}
.logo img {
	display: inline-block;
}
.contactLink {
	padding: 0px;
	padding-top: 10px;
}
.searchTitle {
	text-align: left;
}
.searchbox {
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.navbar-left, .navbar-right {
	float: none !important;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-collapse.collapse {
	display: none!important;
}
.collapse.in {
	display: block !important;
}
.navbar-nav > li > a {
	padding-left: 0px;
}
.navbar-toggle {
	display: block;
	float: right;
	margin-top: 3px;
	background: transparent;
	padding: 5px;
	top: -48px;
	left: 3px;
	position: absolute;
	border: none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: transparent;
	border: none;
}
.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.deliver img {
	min-height: auto;
}
.col-xs-0 {
	display: none
}
.orangeBg input {
	min-width: auto;
}
#slider {
	top: 0%;
}
.searchTitle {
	text-align: right;
	padding-right: 15px;
}
.face:nth-child(3n) {
	border-right: none;
}
.face:nth-child(4n) {
	border-right: 1px solid #d3d3d3;
}
#drawerToggleButton {
	margin-top: 10px;
}
.profilePhone {
	margin-top: 30px;
	padding: 0px;
}
.profileAddress {
	margin-top: 30px;
	padding: 0px;
}
.togglemenu {
	padding-top: 10px;
}
.orangetext {
	text-align: center;
}
.orangetext {
	left: 0px;
}
.profileDetails {
	top: 10%;
}
.hubName_austin {
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 10px;
	font-size: 18px;
}
.hubName_blore {
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 10px;
	font-size: 18px;
}
.hubName_reston {
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 10px;
	font-size: 18px;
}
}

@media (max-width: 991px) {
.face {
	border-right: none;
}
.icon-container {
	width: auto;
}

}

@media (min-width: 415px) and (max-width:768px) {
.cloudhubs {
	max-width: 362px;
	margin: 0 auto;
	float: none;
	margin-bottom: 20px;
}

}

@media (max-width: 768px) {
.logo {
	padding-right: 0px;
	float: right
}
.togglemenu {
	padding-left: 0px;
}
.icon-container {
	width: auto;
}
}

@media (max-width: 767px) {
.carousel-control {
	width: 20%;
}
.mainImage img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 5px solid #f29111;
	width: 125px;
	height: 125px;
}
.face {
	min-height: 320px;
}
.fixedButton img {
	width: 25px
}
.fixedButton {
	padding: 30px 10px;
}
.get_to_know, .how_to_engage, .cloud_hubs, .darkblue {
	margin-bottom: 10px;
}
.nopaddingipd {
	padding: 0px;
}
.icon-container {
	width: auto;
}
}

@media (max-width: 736px) {
.icon {
	margin-bottom: 10px;
	min-height: 135px;
}
.watchvdo .fa-chevron-circle-right {
	display: none
}
.watchvdo {
	text-align: center;
}
#text-carousel {
	padding-left: 20px;
	padding-right: 20px;
}
.servicesicons div {
	min-height: 50px;
	text-align: left;
	font-size: 12px;
}
.row-centered div {
	margin-bottom: 20px;
}
.cloudhubs_shared {
	max-width: 362px;
	margin: 0 auto;
	display: table;
	float:none;
	margin-bottom: 20px;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
.carousel-control {
	width: 10%;
}
.darkblue {
	min-height: auto;
}
.darkblue, .how_to_engage, .cloud_hubs {
	margin-bottom: 10px;
}
.face {
	border-right: 1px solid #d3d3d3;
}
.oj-listview-item:nth-child(6n) .face {
	border-right: 1px solid #d3d3d3;
}
.oj-listview-item:nth-child(3n) .face {
	border-right: none;
}
.how_to_engage {
	height: 528px;
}
.selectedmentor img {
	width: 50px;
	height: auto;
	max-height: 50px;
	min-height: 50px;
}
.mentorrow img {
	width: 50px;
	height: auto;
	max-height: 50px;
	min-height: 50px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.darkblue {
	min-height: auto;
}
}

@media (min-width: 527px) and (max-width: 1024px) {
ul#profiletabs {
	padding-right: 0px;
}
.nopaddingsm {
	padding: 0px;
}
.nopaddingrightsm {
	padding-right: 0px;
}
}

@media (min-width: 415px) and (max-width: 767px) {
.oj-tabs-panel .nopaddingxs {
	padding: 0px;
}
.oj-tabs-gen-div {
	font-size: 15px;
}
}

@media (min-width: 415px) and (max-width: 511px) {
.oj-tabs-gen-div {
	font-size: 14px;
}
}

@media (max-width: 414px) {
.nopaddingxs {
	padding: 0px;
}
.oj-tabs, .oj-tabs-gen-div {
	font-size: 13px;
}
.nav {
	padding-left: 15px;
}
}

@media (max-width: 375px) {
.profileImage img {
	width: 100px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 5px solid #c8c8c8;
	height: 100px;
}
.cloud_hubs {
	position: relative;
}
.pinkBg {
	position: absolute;
	right: 0px;
}
}

@media (max-width: 360px) {
.darkblue {
	min-height: 350px;
}
}

@media (max-width: 320px) {
.logo img {
}
.contact-link {
	font-size: 12px
}
.profileDetails {
	top: 10%;
}
.profileImage img {
	width: 100px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 5px solid #c8c8c8;
	height: 100px;
}
.blueBg {
	padding: 0px;
}
#slider {
	top: 0%;
	font-size: 12px;
}
#slider .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}
.watchvdo .fa-chevron-circle-right {
	font-size: 24px;
}
.watchvdo {
	line-height: 24px;
	padding: 6px 8px;
}
.sliderButtons .watchvdo {
	font-size: 14px;
}
.servicesicons div {
	font-size: 14px;
	text-align: center;
	min-height: 50px;
}
.orangeBg {
	font-size: 14px;
}
.mentors img {
	max-height: 45px;
	min-height: 45px;
	width: 45px;
}
}

@media (min-width: 321px) and (max-width: 439px) {
.mentors img {
	max-height: 45px;
	min-height: 45px;
	width: 45px;
}
}

@media (min-width: 440px) and (max-width: 578px) {
.mentors img {
	max-height: 60px;
	min-height: 60px;
	width: 60px;
}
}

@media (min-width: 1025px) {
.col-md-0 {
	display: none
}
.nopaddingmd {
	padding: 0px;
}
.nopaddingleftmd {
	padding-left: 0px;
}
.nopaddingrightmd {
	padding-right: 0px;
}
}

@media (min-width: 1200px) {
.col-lg-0 {
	display: none
}
.leftcenterelement {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.suggestedm {
	height: 90px;
	padding-right: 0px;
	padding-left: 5px;
}
.mentorrow {
	height: 90px;
}
}

@media (min-width: 1200px) and (max-width: 1500px) {
.cloud_hubs li {
	font-size: 12px;
}
}

@media (min-width: 1200px) and (max-width: 1400px) {
.sliderButtons .watchvdo .fa-download {
	font-size: 32px;
}
.mentees img {
	width: 60px;
	height: auto;
	max-height: 60px;
	min-height: 60px;
}

}

@media (min-width: 992px) and (max-width: 1280px) {
.oj-listview-item:nth-child(6n) .face {
	border-right: 1px solid #d3d3d3;
}
.oj-listview-item:nth-child(4n) .face {
	border-right: none;
}

}

/*IE ONLY*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.mainContent {
	margin-top: 40px;
}
}

/*SAFARI ONLY*/
 _::-webkit-full-page-media, .logo img {
width:100%;
}
 _::-webkit-full-page-media, .sliderButtons .watchvdo {
font-size:15px;
}
