@charset "utf-8";
/* CSS Document */


body {
	font-family: 'Arial';
	font-size: 14px;
	background-image: none;
}
.nopadding {
	padding: 0px;
}
.container {
	width: 1366px;
}
.icon-container {
	width: 755px;
	margin: 0 auto;
}
.orangeBg {
	background: #f29111;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-family: Arial;
	font-size: 16px;
	line-height: 34px;
}
.orangeBg input {
	background: #f5f5f5 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	color: #777879;
	min-width: 252px;
}
.orangeBg a:link, .orangeBg a:visited {
	color: #fff;
	text-decoration: none;
}
.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
	color: #4e5052
}
.navbar-inverse {
	background-color: #fff;
	border-color: none;
	min-height: auto;
	-webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.35);
	position: relative;
	z-index: 1000;
	font-family: Arial;
	font-size: 18px;
}
.clearfix {
	display: block;
	clear: both
}
#navDrawer {
	z-index: 2000
}
.navbar {
	font-size: 19px;
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}
.navbar-nav > li {
	margin-left: 10px;
}
.navbar-nav > li > a {
	padding: 10px 20px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #444444
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background: transparent;
	color: #ff8d14;
	border-bottom: 7px solid #ff8d14
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: #ff8d14;
	border-bottom: 7px solid #ff8d14
}
.navbar a:link, .navbar a:visited {
	color: #fff
}
.navbar a:hover, .navbar a:visited:hover {
	color: #fff
}
.navbar li.active a:link {
	border-bottom: 7px solid #ff8d14
}
.logo {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 0px;
}
.mainNav {
	padding-top: 18px;
}
.contact-link {
	padding-right: 25px;
}
.carousel-content {
	color: black;
	display: flex;
	align-items: center;
}
#text-carousel {
	width: 100%;
	height: auto;
	padding: 50px;
	background: rgba(0, 0, 0, 0) url("../img/clouds_bg.jpg") no-repeat scroll 0 0 / cover;
	font-size: 20px;
	font-style: italic;
}
.carousel-indicators .active {
	background-color: #aabcc2;
	border: medium none;
	height: 16px;
	margin: 0;
	width: 16px;
}
.carousel-indicators li {
	background-color: #baced5;
	border: medium none;
	height: 16px;
	margin: 0;
	width: 16px;
}
.carousel-indicators {
	bottom: 0;
}
#text-carousel p {
	margin-bottom: 20px;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
.sliderInner {
	max-width: 1200px;
	margin: 0 auto
}
.icons {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 16px;
	font-family: Arial;
}
.icons a:link, .icons a:visited {
	color: #444444;
}
.icons a:hover, .icons a:visited:hover {
	color: #f29111;
}
.icon {
	margin-bottom: 20px;
}
.darkblue {
	background: #324b5c;
	color: #fff;
	margin-bottom: 30px;
	padding: 15px;
	min-height: 220px;
}
.darkblue h2 {
	margin-top: 0px;
	font-size: 22px;
	margin-bottom: 20px;
}
.glyphicon-chevron-right {
	color: #f29111;
	position: relative;
	top: 0px;
	vertical-align: middle;
}
.get_to_know {
	background: rgba(0, 0, 0, 0) url("../img/get_to_know_bg.jpg") no-repeat scroll 0 0;
	height: 234px;
	position: relative;
	background-size: cover;
}
.bottom-column {
	background: rgba(0, 0, 0, 0.76) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	vertical-align: bottom;
}
.bottom-column1 {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}
.how_to_engage {
	background: url(../img/how_to_engage.jpg) no-repeat;
	height: 484px;
	color: #fff;
	background-size: cover;
}
.blackBg {
	background: rgba(0, 0, 0, 0.76) none repeat scroll 0 0;
	height: 100%;
	padding: 15px;
}
.how_to_engage h2 {
	margin-top: 0px;
	font-size: 22px;
	font-weight: bold;
}
.how_to_engage a:link, .how_to_engage a:visited {
	color: #fff;
	text-decoration: none
}
.how_to_engage a:hover, .how_to_engage a:visited:hover {
	color: #f29111;
	text-decoration: underline
}
.cloud_hubs {
	background: url(../img/cloud_hubs.jpg) no-repeat;
	height: 232px;
	color: #fff;
	margin-bottom: 30px;
	font-size: 20px;
	background-size: cover;
}
.cloud_hubs h2 {
	margin-top: 0px;
	font-size: 36px;
	font-weight: bold;
}
.cloud_hubs a:link, .cloud_hubs a:visited {
	color: #fff;
	text-decoration: none;
}
.cloud_hubs a:hover, .cloud_hubs a:visited:hover {
	color: #f29111;
	text-decoration: none
}
.more {
	font-size: 18px;
}
.more a:link, .more a:visited {
	color: #fff;
	text-decoration: none;
}
.more a:hover, .more a:visited:hover {
	color: #f29111;
	text-decoration: none
}
.deliver {
	background: #f29111;
	text-align: center;
}
.deliver img {
	display: inline-block;
	min-height: 220px;
}
footer {
	font-size: 12px;
	margin-top: 60px;
	text-align: left;
	background: #324b5c none repeat scroll 0 0;
	padding: 20px;
	color: #fff;
}
.team {
	padding-top: 20px;
}
.team h1 {
	font-family: arial;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 20px;
}
.team img {
	display: inline-block
}
.team input {
	background: transparent;
	border: none;
	border-radius: 0;
	color: #777879;
	min-width: 252px;
	font-size: 19px;
}
.borderBottom {
	border-bottom: 4px solid #f29111
}
.faces {
	margin-top: 40px;
	text-align: center;
	min-height: 420px;
}
.mainImage img {
	max-width: 200px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 5px solid #f29111;
	min-width: 200px;
	min-height: 200px;
}
.face {
	border-right: 1px solid #d3d3d3;
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 420px;
	border-bottom: 1px solid #d3d3d3;
}
.oj-listview-item:nth-child(4n) .face {
	border-right: none;
}
.name {
	font-family: Arial;
	font-weight: bold;
	color: #f39220;
	margin-top: 10px;
	font-size: 22px;
	line-height: 24px;
}
.title {
	font-family: Arial;
	color: #444444;
	font-size: 15px;
	margin-bottom: 10px;
}
.social img {
	margin-left: 5px;
	margin-right: 5px;
}
.fixedButton {
	position: fixed;
	top: 30%;
	left: 0px;
	z-index: 1001;
	background: #324b5c;
	padding: 40px 20px;
	border: none;
	border-radius: 0px 10px 10px 0px;
	display: none !important;
}
#slider {
	background: #324b5c;
	height: auto;
	width: 300px;
	position: fixed;
	left: -500px;
	z-index: 1002;
	padding: 20px;
	top: 10%;
	border-radius: 0px 10px 10px 0px;
	color: #fff;
	font-size: 16px;
}
#close {
	color: #fff;
	float: right;
	font-family: arial;
	font-size: 17px;
	text-decoration: none;
	cursor: pointer;
}
.open {
	left: 0px !important;
}
.transition {
	-webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
#drawerToggleButton {
}
.apply {
	background: #dfe4e7;
	color: #324c5d;
	text-transform: uppercase;
	border: none;
	padding: 10px 30px;
	margin-top: 20px;
}
#navDrawer {
	background: #324b5c;
	font-size: 19px;
	position: fixed;
}
.profileblackBg {
	background: #1d2730;
	color: #fff;
	padding: 10px;
}
.profileblackBg a:link, .profileblackBg a:visited {
	color: #fff;
	text-decoration: underline;
}
.profileblackBg a:hover, .profileblackBg a:visited:hover {
	color: #f29111;
	text-decoration: underline;
}
.blueBg {
	background: #324b5c url(../img/test.jpg) no-repeat;
	color: #fff;
	padding: 20px;
	min-height: 193px;
	background-size: cover;
	font-weight: bold;
}
.tabs {
	background: #efefef;
	text-align: center;
	padding: 30px 0 0;
	font-size: 16px;
	opacity: 0.4;
	min-height:90px;
	position:relative;
}
li.active .tabs {
	opacity: 1;
}
.margintop30 {
	margin-top: 30px;
}
.nav-tabs {
	border-bottom: none;
}
.arrowdown {
	width: 100%;
	bottom: 0;
	
	position: absolute;
	color: #fff;
}
.yellowtab {
	background: #f29011 none repeat scroll 0 0;
}
.pinktab {
	background: #942545 none repeat scroll 0 0;
}
.bluetab {
	background: #00758f none repeat scroll 0 0;
}
.greentab {
	background: #3a9140 none repeat scroll 0 0;
}
.tabs a:link, .tabs a:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.tabs a:hover, .tabs a:visited:hover {
	text-decoration: none;
	color: #f29011;
	font-weight: bold;
}
.profileleft {
	height: 145px;
}
.profileImage {
	padding-top: 15px;
	position: relative;
}
.profileImage img {
	max-width: 125px;
	border-radius: 125px 125px 125px 125px;
	-moz-border-radius: 125px 125px 125px 125px;
	-webkit-border-radius: 125px 125px 125px 125px;
	border: 5px solid #c8c8c8;
	min-width: 125px;
	min-height: 125px;
}
.profileThumb {
	display: block;
	width: 100%;
	height: auto;
}
.overlay {
	background-color: #000;
	border-radius: 75px;
	bottom: 0;
	height: 118px;
	left: 4px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 20px;
	transition: all 0.5s ease 0s;
	width: 117px;
}
.profileImage:hover .overlay {
	opacity: 0.6;
}
.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 14px;
	text-align: center;
}
.text a {
	color: #fff;
	text-decoration: none;
}
.text .glyphicon {
	font-size: 19px;
}
.profileImage button {
	border: none;
	padding: 0px;
	background: transparent;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
	margin-bottom: 0;
	padding: 0 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
	background-color: rgba(0, 0, 0, 0);
	bottom: 0;
	color: #d3d3d3;
	font-size: 70px;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 0;
	width: 6%;
}
.carousel-control:focus, .carousel-control:hover {
	color: #c0c0c0
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
	background: #333333;
}
.carousel-inner {
	text-align: center;
}
.profileDetails {
	line-height: 21px;
	position: relative;
	top: 50%;
}
.profileName {
	font-size: 24px;
}
.profileTitle {
	font-size: 14px;
}
.profileSection {
	border: 1px solid #c8c8c8;
	margin-bottom: 30px;
}
.greyBg {
	background: #efefef;
	padding: 10px;
}
.profileSummary {
	padding: 10px;
}
.profileSummary ul {
	margin: 0;
	padding: 0
}
.profileSummary li {
	list-style: none;
	margin-bottom: 10px;
}
.profileSummaryh {
	font-size: 16px;
	font-weight: bold;
	overflow:hidden;
}
.profilePhone {
	font-size: 14px;
}
.profileAddress {
	font-size: 14px;
}
.orangeTags {
	display: inline-block;
	padding: .2em .6em .3em;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	vertical-align: baseline;
	border-radius: .25em;
	background: #f29111;
	margin: 5px;
}
.shareprofile {
	background: #324b5c;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}
.panel-title a {
	font-weight: bold;
}
.pastProjects {
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 20px;
	margin-top: 20px;
}
.pastProjects:first-child {
	margin-top: 0px;
}
.pastProjects:last-child {
	border: none;
}
.useruploads img {
	border: 8px solid #e6e4e4
}
.btn-info {
	 background: #dadada none repeat scroll 0 0;
    border: 1px solid #ada9a9;
    color: #444444;
}
.btn-info.focus, .btn-info:focus, .btn-info:hover, .btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info.focus:active, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
   background: #ada9a9 none repeat scroll 0 0;
    border: 1px solid #ada9a9;
    color: #fff;
}
.footerheading {
	color: #fff;
	font-size: 21px;
}
.footermenu ul {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.footermenu li {
	display: inline;
	list-style: none;
	font-size: 14px;
	margin-right: 20px;
	border-right: 1px solid #fff;
	padding-right: 20px
}
.footermenu li:last-child {
	border-right: none;
}
.footermenu a {
	color: #fff;
}
.addnew {
	margin-bottom: 20px;
}

@media (max-width: 1024px) {
.container {
	width: auto;
}
.icon-container {
	width: auto;
}
.logo {
	padding-bottom: 20px;
	padding-top: 20px;
}
.logo img {
	max-width: 182px;
	display: inline-block;
}
.contactLink {
	padding: 0px;
	padding-top: 10px;
}
.searchTitle {
	text-align: left;
}
.searchbox {
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.mainNav {
	padding: 15px;
}
.navbar-header {
	float: none;
}
.navbar-left, .navbar-right {
	float: none !important;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-collapse.collapse {
	display: none!important;
}
.collapse.in {
	display: block !important;
}
.navbar-nav > li > a {
	padding-left: 0px;
}
.navbar-toggle {
	display: block;
	float: right;
	margin-top: 3px;
	background: transparent;
	padding: 5px;
	top: -48px;
	left: 3px;
	position: absolute;
	border: none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: transparent;
	border: none;
}
.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.darkblue {
	min-height: 240px;
	margin-bottom: 0px;
}
#text-carousel {
	background-position: bottom;
	background-color: #ddeff9
}
.get_to_know, .how_to_engage, .cloud_hubs {
	margin-bottom: 0px;
}
.deliver img {
	min-height: auto;
}
.col-xs-0 {
	display: none
}
.orangeBg input {
	min-width: auto;
}
.logo {
	text-align: center;
}
#slider {
	top: 0%;
}
.searchTitle {
	text-align: right;
	padding-right: 15px;
}
.face:nth-child(3n) {
	border-right: none;
}
.face:nth-child(4n) {
	border-right: 1px solid #d3d3d3;
}
#drawerToggleButton {
	margin-top: 10px;
}
.profilePhone {
	margin-top: 30px;
	padding: 0px;
}
.profileAddress {
	margin-top: 30px;
	padding: 0px;
}

}

@media (max-width: 991px) {
.face {
	border-right: none;
}
}

@media (max-width: 767px) {
.carousel-control {
	width: 20%;
}
}

@media (min-width: 768px) and  (max-width: 1023px){
.carousel-control {
	width: 10%;
}
}

@media (max-width: 414px) {
.nopaddingxs {
	padding: 0px;
}
.tabs {
	font-size: 13px;
}
.nav {
	padding-left: 15px;
}
}

@media (max-width: 320px) {
.logo img {
	max-width: 146px;
}
.contact-link {
	font-size: 12px
}
.profileDetails{
	top:25%;}
}

@media (min-width: 1025px) {
.col-md-0 {
	display: none
}
.nopaddingmd {
	padding: 0px;
}
.nopaddingleftmd {
	padding-left: 0px;
}
.nopaddingrightmd {
	padding-right: 0px;
}
}

@media (min-width: 1200px) {
.col-lg-0 {
	display: none
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.oj-listview-item:nth-child(4n) .face {
	border-right: 1px solid #d3d3d3;
}
.oj-listview-item:nth-child(3n) .face {
	border-right: none;
}
}
